* {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 1em; BORDER-TOP: 0px; FONT-WEIGHT: normal; LIST-STYLE-IMAGE: none; BORDER-RIGHT: 0px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
.clearfix:before {
	DISPLAY: table; CONTENT: ""
}
.clearfix:after {
	DISPLAY: table; CONTENT: ""
}
.clearfix:after {
	CLEAR: both
}
.clearfix {
	ZOOM: 1
}
HTML {
/* 	BACKGROUND: #0d7bd5; HEIGHT: 100%; _background: #0d7bd5 */
}
BODY {
	POSITION: relative; TEXT-ALIGN: center; FONT: 13px/22px "Helvetica Neue", Arial, "Liberation Sans", FreeSans, "Hiragino Sans GB", sans-serif; HEIGHT: 100%; COLOR: #0c0c0c; text-shadow: 0 1px 0 rgba(0, 0, 0, .3)
}
BODY {
	FONT-FAMILY: "Helvetica Neue", Arial, "Liberation Sans", FreeSans, "Hiragino Sans GB", sans-serif
}
LABEL {
	FONT-FAMILY: "Helvetica Neue", Arial, "Liberation Sans", FreeSans, "Hiragino Sans GB", sans-serif
}
INPUT {
	FONT-FAMILY: "Helvetica Neue", Arial, "Liberation Sans", FreeSans, "Hiragino Sans GB", sans-serif
}
TEXTAREA {
	FONT-FAMILY: "Helvetica Neue", Arial, "Liberation Sans", FreeSans, "Hiragino Sans GB", sans-serif
}
SELECT {
	FONT-FAMILY: "Helvetica Neue", Arial, "Liberation Sans", FreeSans, "Hiragino Sans GB", sans-serif
}
BUTTON {
	FONT-FAMILY: "Helvetica Neue", Arial, "Liberation Sans", FreeSans, "Hiragino Sans GB", sans-serif
}
A {
	COLOR: #b7d4ec; -webkit-transition: color .1s ease, background-color .1s ease
}
#login {
	POSITION: absolute; MARGIN: -195px 0px 0px -240px; WIDTH: 480px; HEIGHT: 390px; TOP: 50%; LEFT: 50%
}
#apply {
	POSITION: absolute; MARGIN: -195px 0px 0px -240px; WIDTH: 480px; HEIGHT: 390px; TOP: 50%; LEFT: 50%
}
.used {
	POSITION: relative; FLOAT: right
}
.success {
	POSITION: relative; FLOAT: right
}
.failure {
	POSITION: relative; FLOAT: right
}
#apply FORM {
	POSITION: relative; FLOAT: right
}
#login FORM {
	POSITION: relative; FLOAT: right
}
#login FORM {
	
}

.js LABEL.aria {
	POSITION: absolute; LEFT: -999em
}
.js #login LABEL.remember_me {
	DISPLAY: inline
}
#login .captcha {
	TEXT-ALIGN: left; MARGIN-BOTTOM: 18px
}
#login .captcha IMG {
	VERTICAL-ALIGN: middle; MARGIN-RIGHT: 10px
}
.text {
	BORDER-BOTTOM: #0d7bd5 1px solid; BORDER-LEFT: #0d7bd5 1px solid; PADDING-BOTTOM: 10px; LINE-HEIGHT: 18px; MARGIN: 0px 0px 18px; PADDING-LEFT: 10px; WIDTH: 248px; PADDING-RIGHT: 10px; DISPLAY: inline-block; BACKGROUND: #F8F8FF; COLOR: #888; FONT-SIZE: 14px; BORDER-TOP: #0d7bd5 1px solid; CURSOR: text; BORDER-RIGHT: #0d7bd5 1px solid; PADDING-TOP: 10px; box-shadow: 0 1px 0 rgba(255, 255, 255, .3), 0 1px 3px rgba(0, 0, 0, .3) inset; background-clip: padding-box; border-radius: 5px
}
INPUT[type=email] {
	IME-MODE: disabled
}
INPUT[type=password] {
	IME-MODE: disabled
}
.text:focus {
	BACKGROUND: #fff
}
.button {
	BORDER-BOTTOM: #147dcd 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #147dcd 1px solid; PADDING-BOTTOM: 6px; LINE-HEIGHT: 18px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; DISPLAY: inline-block; BACKGROUND: #1e95e5; FLOAT: left; COLOR: #b7d4ec; FONT-SIZE: 14px; VERTICAL-ALIGN: middle; BORDER-TOP: #147dcd 1px solid; CURSOR: pointer; BORDER-RIGHT: #147dcd 1px solid; PADDING-TOP: 6px; text-shadow: 0 1px 0 rgba(0, 0, 0, .2); box-shadow: 0 1px 0 rgba(0, 0, 0, .05), 0 1px 0 rgba(255, 255, 255, .15) inset; border-radius: 5px; -webkit-appearance: none
}
.button:active {
	BACKGROUND: #1d8fdb; box-shadow: 0 1px 0 rgba(255, 255, 255, .15)
}
.button:focus {
	box-shadow: 0 0 10px rgba(255, 255, 255, .5), 0 1px 0 rgba(255, 255, 255, .15) inset
}
.actions {
	MARGIN: 6px 0px 0px; DISPLAY: block; FLOAT: right
}
.middot {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 0px
}
.reset {
	COLOR: #b7d4ec
}
.remember_me {
	COLOR: #b7d4ec
}

.reg {
	POSITION: absolute; TOP: 30px; RIGHT: 40px
}
.register {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; DISPLAY: inline-block; MARGIN-BOTTOM: 5px; COLOR: #b7d4ec; FONT-SIZE: 14px; PADDING-TOP: 3px; box-shadow: 0 1px 0 rgba(255, 255, 255, .15), 0px 1px 3px rgba(0, 0, 0, .2) inset; border-radius: 50px
}
.register:hover {
	
}

TEXTAREA.text {
	HEIGHT: 80px
}

.failure {
	TEXT-ALIGN: left; PADDING-BOTTOM: 10px; MARGIN: 0px 0px 20px; PADDING-LEFT: 10px; WIDTH: 252px; PADDING-RIGHT: 10px; BACKGROUND: #0c6ebf; COLOR: #b7d4ec; PADDING-TOP: 10px; box-shadow: 0 1px 0 rgba(255, 255, 255, .15), 0px 1px 3px rgba(0, 0, 0, .2) inset; border-radius: 4px
}
.failure LI {
	LINE-HEIGHT: 1em
}
.failure LI + LI {
	MARGIN-TOP: 10px
}
.failure LI I {
	WIDTH: 16px; DISPLAY: inline-block; HEIGHT: 16px; VERTICAL-ALIGN: middle; MARGIN-RIGHT: 5px
}
.failure LI SPAN {
	VERTICAL-ALIGN: middle
}
.failure LI A {
	COLOR: #9ed8ff; TEXT-DECORATION: underline
}
.failure LI A:hover {
	COLOR: white
}
#apply .iphone-app-landing {
	DISPLAY: none
}
