<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <title>test2.html</title>
  </head>
  <body>
      <div class="container" id="main">
        <div class = "form-group row">
          <div class="col-2">
            <a href="#" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">住所情報</a>
          </div>
          <div class="col-2">
            <a href="#" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">口座情報</a>
          </div>
          <div class="col-2">
            <a href="http://127.0.0.1:3000/subCost" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">諸費用</a>
          </div>
        </div>

        <form class="form-horizontal" action="index.html" method="post">

          <fieldset class="form-group">
            <div class="row">
              <div class="form-check  mx-auto">
                <label  for="gridRadios1" >社員</label>
                <input  type="radio" name="gridRadios" id="gridRadios1" value="option1" checked >
                <label  for="gridRadios2">協力社員</label>
                <input  type="radio" name="gridRadios" id="gridRadios2" value="option2">
              </div>
            </div>
          </fieldset>
          <div class="form-group row">
            <h4>個人情報</h4>
            <div>
            	<img class="img-fluid d-none d-xl-block" th:src="@{/images/6.png}" width="100px" height="100px" alt="写真">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-12 col-sm-12 col-xl-12">
<!--                 <div class="form-group row">                                                   -->
				<div class="container-fluid">
					<div class="row">
						<div class="row col-xs-3 col-sm-2">
							<label for="inputPassword2" class="col-6 col-sm-6 col-md-5 col-lg-5 control-label col-form-label">社員番号</label>
							<div class="col-8 col-sm-6 col-md-7 col-lg-7">
							  <input type="text" class="form-control" id="inputPassword1" placeholder="社員番号">
							</div>				  
						</div>
						<div class="row col-xs-3 col-sm-4">
							<label for="inputPassword2" class="col-6 col-sm-6 col-md-5 col-lg-2 control-label col-form-label">社員名</label>
							<div class="col-8 col-sm-6 col-md-7 col-lg-5">
							  <input type="text" class="form-control" id="inputPassword1" placeholder="社員名1">
							</div>				  
							<div class="col-8 col-sm-6 col-md-7 col-lg-5">
							  <input type="text" class="form-control" id="inputPassword1" placeholder="社員名1">
							</div>				  
						</div>
						<div class="row col-xs-3 col-sm-3">
							<label for="inputPassword2" class="col-6 col-sm-6 col-md-5 col-lg-5 control-label col-form-label">アルファ</label>
							<div class="col-8 col-sm-6 col-md-7 col-lg-7">
							  <input type="text" class="form-control" id="inputPassword2" placeholder="アルファ" autocomplete="off">
							</div> 				  
						</div>
						<div class="row col-xs-3 col-sm-3">
							<label for="inputPassword3" class="col-6 col-sm-6 col-md-5 col-lg-5 control-label col-form-label">ふりがな</label>
							<div class="col-8 col-sm-6 col-md-7 col-lg-7">
							  <input type="text" class="form-control" id="inputPassword3" placeholder="ふりがな">
							</div>				  
						</div>
					</div><br>
					<div class="row">
						<div class="row col-xs-3 col-sm-3">
							<label for="inputPassword2" class="col-6 col-sm-6 col-md-5 col-lg-5 control-label col-form-label">性別</label>
							<div class="col-8 col-sm-6 col-md-7 col-lg-7" th:if="${genderCode == '1'}">
							  <input type="text" class="form-control" id="inputPassword" placeholder="性別" th:value="男">
							</div>                 
							<div class="col-8 col-sm-6 col-md-7 col-lg-7" th:if="${genderCode == '0'}">
							  <input type="text" class="form-control" id="inputPassword" placeholder="性別" th:value="女">
							</div>                        				  
						</div>
						<div class="row col-xs-3 col-sm-3">
							<label for="inputPassword2" class="col-6 col-sm-6 col-md-5 col-lg-5 control-label col-form-label">年齢</label>
							<div class="col-8 col-sm-6 col-md-7 col-lg-7">
							  <input type="text" class="form-control" id="inputPassword1" placeholder="年齢">
							</div>				  
						</div>
						<div class="row col-xs-3 col-sm-3">
							<label for="inputPassword2" class="col-6 col-sm-6 col-md-5 col-lg-5 control-label col-form-label">和暦</label>
							<div class="col-8 col-sm-6 col-md-7 col-lg-7">
							  <input type="text" class="form-control" id="inputPassword2" placeholder="和暦">
							</div> 				  
						</div>
						<div class="row col-xs-3 col-sm-3">
							<label for="inputPassword3" class="col-6 col-sm-6 col-md-5 col-lg-5 control-label col-form-label">出身地</label>
							<div class="col-8 col-sm-6 col-md-7 col-lg-7">
							  <input type="text" class="form-control" id="inputPassword3" placeholder="出身地">
							</div>				  
						</div>
					</div><br>                  
					<div class="row">
						<div class="row col-xs-3 col-sm-3">
							<label for="inputPassword2" class="col-6 col-sm-6 col-md-5 col-lg-5 control-label col-form-label">新人区分</label>
							<div class="col-8 col-sm-6 col-md-7 col-lg-7">
							  <input type="text" class="form-control" id="salary" placeholder="新人区分">
							</div>				  
						</div>
						<div class="row col-xs-3 col-sm-3">
							<label for="inputPassword2" class="col-6 col-sm-6 col-md-5 col-lg-5 control-label col-form-label">入社年月</label>
							<div class="col-8 col-sm-6 col-md-7 col-lg-7">
							  <input type="text" class="form-control" id="inputPassword1" placeholder="入社年月">
							</div>				  
						</div>
						<div class="row col-xs-3 col-sm-3">
							<label for="inputPassword2" class="col-6 col-sm-6 col-md-5 col-lg-5 control-label col-form-label">給料</label>
							<div class="col-8 col-sm-6 col-md-7 col-lg-7">
							  <input type="text" class="form-control" id="inputPassword2" placeholder="給料">
							</div> 				  
						</div>
						<div class="row col-xs-3 col-sm-3">
							<label for="inputPassword2" class="col-6 col-sm-6 col-md-5 col-lg-5 control-label col-form-label" style="display: none">給料</label>
							<div class="col-8 col-sm-6 col-md-7 col-lg-7">
							  <input type="hidden" class="form-control" id="inputPassword2" placeholder="給料">
							</div> 				  
						</div>
					</div><br>                  
					<div class="row">
						<div class="row col-xs-3 col-sm-3">
							<label for="inputPassword2" class="col-6 col-sm-6 col-md-5 col-lg-5 control-label col-form-label">社員形式</label>
							<div class="col-8 col-sm-6 col-md-7 col-lg-7">
							  <input type="text" class="form-control" id="salary" placeholder="社員形式">
							</div>				  
						</div>
						<div class="row col-xs-3 col-sm-3">
							 <label for="inputPassword2" class="col-6 col-sm-6 col-md-5 col-lg-5 control-label col-form-label">来日年月</label>
							 <div class="col-8 col-sm-6 col-md-7 col-lg-7">
							   <input type="text" class="form-control" id="inputPassword1" placeholder="来日年月">
							 </div>				  
						</div>
						<div class="row col-xs-3 col-sm-3">
							 <label for="inputPassword2" class="col-6 col-sm-6 col-md-5 col-lg-5 control-label col-form-label">卒業大学</label>
							 <div class="col-8 col-sm-6 col-md-7 col-lg-7">
							   <input type="text" class="form-control" id="inputPassword2" placeholder="卒業大学">
							 </div> 				  
						</div>
						<div class="row col-xs-3 col-sm-3">
							 <label for="inputPassword2" class="col-6 col-sm-6 col-md-5 col-lg-5 control-label col-form-label">卒業大学</label>
							 <div class="col-8 col-sm-6 col-md-7 col-lg-7">
							   <input type="text" class="form-control" id="inputPassword2" placeholder="卒業大学">
							 </div> 				  
						</div>
					</div><br>                  
					<div class="row">
						<div class="row col-xs-3 col-sm-3">
							<label for="inputPassword2" class="col-6 col-sm-6 col-md-5 col-lg-5 control-label col-form-label">在留資格</label>
							<div class="col-8 col-sm-6 col-md-7 col-lg-7">
							  <input type="text" class="form-control" id="salary" placeholder="在留資格">
							</div>				  
						</div>
						<div class="row col-xs-3 col-sm-3">
							<label for="inputPassword2" class="col-6 col-sm-6 col-md-5 col-lg-5 control-label col-form-label">在留カード</label>
							<div class="col-8 col-sm-6 col-md-7 col-lg-7">
							  <input type="text" class="form-control" id="inputPassword1" placeholder="在留カード">
							</div>				  
						</div>
						<div class="row col-xs-3 col-sm-3">
							<label for="inputPassword2" class="col-6 col-sm-6 col-md-5 col-lg-5 control-label col-form-label">在留期間</label>
							<div class="col-8 col-sm-6 col-md-7 col-lg-7">
							  <input type="text" class="form-control" id="inputPassword2" placeholder="在留期間">
							</div> 				  
						</div>
						<div class="row col-xs-3 col-sm-3">
							<label for="inputPassword3" class="col-6 col-sm-6 col-md-5 col-lg-5 control-label col-form-label" style="display: none">在留期限</label>
							<div class="col-8 col-sm-6 col-md-7 col-lg-7">
							  <input type="hidden" class="form-control" id="inputPassword3" placeholder="在留期限">
							</div>				  
						</div>
					</div><br>                  
					<div class="row">
						<div class="row col-xs-3 col-sm-3">
							<label for="inputPassword2" class="col-6 col-sm-6 col-md-5 col-lg-5 control-label col-form-label">日本語</label>
							<div class="col-8 col-sm-6 col-md-7 col-lg-7">
							  <input type="text" class="form-control" id="salary" placeholder="日本語">
							</div>				  
						</div>
						<div class="row col-xs-3 col-sm-3">
							<label for="inputPassword2" class="col-6 col-sm-6 col-md-5 col-lg-5 control-label col-form-label">技術</label>
							<div class="col-8 col-sm-6 col-md-7 col-lg-7">
							  <input type="text" class="form-control" id="inputPassword1" placeholder="技術">
							</div>				  
						</div>
						<div class="row col-xs-3 col-sm-3">
							<label for="inputPassword2" class="col-6 col-sm-6 col-md-5 col-lg-5 control-label col-form-label">経験年数</label>
							<div class="col-8 col-sm-6 col-md-7 col-lg-7">
							  <input type="text" class="form-control" id="inputPassword2" placeholder="経験年数">
							</div> 				  
						</div>
						<div class="row col-xs-3 col-sm-3">
							<label for="inputPassword2" class="col-6 col-sm-6 col-md-5 col-lg-5 control-label col-form-label" style="display: none">経験年数</label>
							<div class="col-8 col-sm-6 col-md-7 col-lg-7">
							  <input type="hidden" class="form-control" id="inputPassword2" placeholder="経験年数">
							</div> 				  
						</div>
					</div>                  
                </div><br>
			<div class="form-group row">
			  <h4>現場情報</h4>
			</div>
<!--                 <div class="form-group row">                                                     -->
				<div class="container-fluid">
					<div class="row">
					  <div class="row col-xs-3 col-sm-3">
	                        <label for="inputPassword2" class="col-6 col-sm-6 col-md-5 col-lg-5 control-label col-form-label">
	                        	<abbr title="入社後入場回数">入社後入</abbr>
	                        </label>
	                        <div class="col-8 col-sm-6 col-md-7 col-lg-7">
	                          <input type="text" class="form-control" id="salary" placeholder="入社後入場回数">
	                        </div>				  
					  </div>
					</div><br>                 
					<div class="row">
					  <div class="row col-xs-3 col-sm-3">
	                        <label for="inputPassword2" class="col-6 col-sm-6 col-md-5 col-lg-5 control-label col-form-label">入場年月</label>
	                        <div class="col-8 col-sm-6 col-md-7 col-lg-7">
	                          <input type="text" class="form-control" id="salary" placeholder="入場年月">
	                        </div>				  
					  </div>
					  <div class="row col-xs-3 col-sm-3">
	                        <label for="inputPassword2" class="col-6 col-sm-6 col-md-5 col-lg-5 control-label col-form-label">最寄駅</label>
	                        <div class="col-8 col-sm-6 col-md-7 col-lg-7">
	                          <input type="text" class="form-control" id="inputPassword1" placeholder="最寄駅">
	                        </div>				  
					  </div>
					  <div class="row col-xs-3 col-sm-3">
	                        <label for="inputPassword2" class="col-6 col-sm-6 col-md-5 col-lg-5 control-label col-form-label">お客様</label>
	                        <div class="col-8 col-sm-6 col-md-7 col-lg-7">
	                          <input type="text" class="form-control" id="inputPassword2" placeholder="お客様">
	                        </div> 				  
					  </div>
					  <div class="row col-xs-3 col-sm-3">
	                        <label for="inputPassword2" class="col-6 col-sm-6 col-md-5 col-lg-5 control-label col-form-label">上位お客様</label>
	                        <div class="col-8 col-sm-6 col-md-7 col-lg-7">
	                          <input type="text" class="form-control" id="inputPassword2" placeholder="上位お客様">
	                        </div> 				  
					  </div>
					</div><br>                 
					<div class="row">
						<div class="row col-xs-3 col-sm-3">
							<label for="inputPassword2" class="col-6 col-sm-6 col-md-5 col-lg-5 control-label col-form-label">単価&emsp;&emsp;&emsp;&emsp;</label>
							<div class="col-8 col-sm-6 col-md-7 col-lg-7">
							  <input type="text" class="form-control" id="salary" placeholder="単価">
							</div>				  
						</div>
						<div class="row col-xs-3 col-sm-3">
							<label for="inputPassword2" class="col-6 col-sm-6 col-md-5 col-lg-5 control-label col-form-label">入場一年迄</label>
							<div class="col-8 col-sm-6 col-md-7 col-lg-7">
							  <input type="text" class="form-control" id="inputPassword1" placeholder="入場一年迄">
							</div>				  
						</div>
						<div class="row col-xs-3 col-sm-3">
							<label for="inputPassword2" class="col-6 col-sm-6 col-md-5 col-lg-5 control-label col-form-label">
								<abbr title="入社年の単位まで">入社年の</abbr>
							</label>
							<div class="col-8 col-sm-6 col-md-7 col-lg-7">
							  <input type="text" class="form-control" id="inputPassword2" placeholder="入社年の単位まで">
							</div> 				  
						</div>
						<div class="row col-xs-3 col-sm-3">
							<label for="inputPassword2" class="col-6 col-sm-6 col-md-5 col-lg-5 control-label col-form-label" style="display: none"></label>
							<div class="col-8 col-sm-6 col-md-7 col-lg-7">
							  <input type="hidden" class="form-control" id="inputPassword2" placeholder="">
							</div> 				  
						</div>
					</div>                   
                 </div>
            </div>
<!--             <div class="col-0 col-sm-0 col-xl-3"> -->
<!--                 <img class="img-fluid d-none d-xl-block" th:src="@{/images/6.png}" width="100px" height="100px" alt="写真"> -->
<!--             </div> -->
          </div>
        </form>
      </div>
  </body>
</html>