<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="../public/bootstrap/js/jquery-3.3.1.slim.min.js"></script>
	<script>
		$('#v-pills-home-tab').click(function() {
// 	    function getEmployeeDetail(){
	        var uploadURL ="/getEmployeeDetail"; //Upload URL
	        var emp={};
	        emp["employeeNo"] = $("#employeeNo").val();
	          $.ajax({
	            url: uploadURL,
	            type: "POST",
	            contentType:'application/json',
	            processData: false,
	            cache: false,
	            data: JSON.stringify(emp),
	            timeout: 30000,
	            beforeSend: function(xhr, settings) {
	              //送信前の処理
	            },
	            complete: function(xhr, textStatus) {
	              //通信完了
	            },
	            success: function(result, textStatus, xhr) {
	              //ajax通信が成功した
	              alert(result);
	            },
	            error: function(xhr, textStatus, error) {
	              //ajax通信が失敗した
	              alert("aaaaaaaaaaaaaa");
	            }
	          });
	      }
	  </script>
    <title>Side</title>
  </head>
  <body>
  	<input type="text" id="employeeNo" value="LYC001"/>
    <div class="side" xmlns:th="http://www.w3.org/1999/xhtml">
      <div >
        <div class="row" >
          <div class="col-2" id = "leftside" xmlns:th="http://www.w3.org/1999/xhtml">
          
<ul id="myUL">
  <li><span class="caret">社員管理関連</span>
    <ul class="nested">
      <li><a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">社員情報登録</a></li>
      <li><a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">社員情報検索</a></li>
    </ul>
  </li>
  <li><span class="caret">Beverages</span>
    <ul class="nested">
       <li><a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</a></li>
       <li><a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a></li>
    </ul>
  </li>
</ul> 

<!--  -->       	
<!-- <div class="tree well"> -->
<!-- <ul> -->
<!-- 	<li> -->
<!-- 		<span><i class="icon-folder-open"></i> Parent</span> <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</a> -->
<!-- 		<span><i class="icon-folder-open"></i> Parent</span> <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</a> -->
<!-- 		<ul> -->
<!-- 			<li> -->
<!-- 				<span><i class="icon-minus-sign"></i> Child</span> <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</a> -->
<!-- 			</li> -->
<!-- 			<li> -->
<!-- 				<span><i class="icon-minus-sign"></i> Child</span> <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</a> -->
<!-- 			</li> -->
<!-- 		</ul> -->
<!-- 	</li> -->
<!-- 	<li> -->
<!-- 		<span><i class="icon-folder-open"></i> Parent2</span> <a href="">Goes somewhere</a> -->
<!-- 		<ul> -->
<!-- 			<li> -->
<!-- 				<span><i class="icon-leaf"></i> Child</span> <a href="">Goes somewhere</a> -->
<!-- 			</li> -->
<!-- 		</ul> -->
<!-- 	</li> -->
<!-- </ul> -->
<!-- </div> -->
<!--  -->       	
          	
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
<!--               <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true" onclick="getEmployeeDetail()">Home</a> -->
<!--               <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</a> -->
<!--               <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</a> -->
<!--               <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
