<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jp.co.lyc.cms.mapper.CustomerInfoMapper">
    <resultMap id="SelectCustomerInfo" type="map"/>
    <resultMap id="customerNoSaiBan" type="java.lang.String"/>
     <resultMap id="topCustomer" type="jp.co.lyc.cms.model.TopCustomerInfoModel"/>
    <resultMap id="CustomerInfo" type="jp.co.lyc.cms.model.CustomerInfoModel"/>
    <resultMap id="CustomerDepartmentInfo" type="jp.co.lyc.cms.model.CustomerDepartmentInfoModel"/>
    <select id="selectCustomerRanking" resultMap="SelectCustomerInfo">
        SELECT 
        	CAST(customerRankingCode AS char)
        		AS customerRankingCode,
        	customerRankingName
        FROM 
        	customer_ranking_master
    </select>
    <select id="selectCompanyNature" resultMap="SelectCustomerInfo">
        SELECT 
        	CAST(companyNatureCode AS char)
					AS companyNatureCode,
        	companyNatureName
        FROM 
        	company_nature_master
    </select>
    <select id="customerNoSaiBan" resultMap="customerNoSaiBan">
        SELECT 
        	MAX(customerNo) AS saibanCustomerNo
        FROM 
        	customer_information
    </select>
    <select id="selectTopCustomer" resultMap="topCustomer" parameterType="String">
        SELECT 
        	topCustomerName
        FROM 
        	top_customer
        WHERE
        	topCustomerName LIKE concat('%',#{topCustpmerName},'%')
    </select>
    <select id="checkTopCustomer" resultMap="customerNoSaiBan" parameterType="String">
        SELECT 
        	topCustomerNo
        FROM 
        	top_customer
        WHERE
        	topCustomerName = #{topCustomerName}
    </select>
    <select id="selectCustomerInfo" resultMap="CustomerInfo" parameterType="String">
		SELECT
			ci.*,
			tc.topCustomerName 
		FROM
			customer_information AS ci
			LEFT JOIN top_customer AS tc ON ci.topCustomerNo = tc.topCustomerNo 
		WHERE
			customerNo = #{customerNo}
    </select>
    <insert id="insertCustomerInfo" parameterType="String">
		INSERT INTO customer_information 
		VALUE(
		#{customerNo},
		#{customerName},
		#{customerAbbreviation},
		#{headOffice},
		#{businessStartDate},
		#{topCustomerNo},
		#{establishmentDate},
		#{customerRankingCode},
		#{listedCompany},
		#{companyNatureCode},
		#{url},
		#{PurchasingManagers},
		#{remark},
		#{PurchasingManagersOfmail},
		NOW(),
		NOW(),
		#{updateUser})
    </insert>
    <update id="updateCustomerInfo" parameterType="String">
		UPDATE customer_information
		SET 
		<if test="customerName != null">
			customerName = #{customerName},
		</if>
		<if test="customerAbbreviation != null">
			customerAbbreviation = #{customerAbbreviation},
		</if>
		<if test="headOffice != null">
			headOffice = #{headOffice},
		</if>
		<if test="businessStartDate != null">
			businessStartDate = #{businessStartDate},
		</if>
		<if test="topCustomerNo != null">
			topCustomerNo = #{topCustomerNo},
		</if>
		<if test="establishmentDate != null">
			establishmentDate = #{establishmentDate},
		</if>
		<if test="customerRankingCode != null">
			customerRankingCode = #{customerRankingCode},
		</if>	
		<if test="listedCompany != null">
			listedCompany = #{listedCompany},
		</if>	
		<if test="url != null">
			url = #{url},
		</if>	
		<if test="PurchasingManagers != null">
			PurchasingManagers = #{PurchasingManagers},
		</if>
		<if test="PurchasingManagersOfmail != null">
			PurchasingManagersOfmail = #{PurchasingManagersOfmail},
		</if>
		<if test="remark != null">
			remark = #{remark},
		</if>			
		updateTime = NOW(),
		updateUser = #{updateUser}
		WHERE 
			customerNo = #{customerNo}
    </update>   
    <select id="selectCustomerDepartmentInfo" resultMap="CustomerDepartmentInfo" parameterType="String">
		SELECT
			customerDepartmentName,
			position,
			responsiblePerson,
			mail 
		FROM
			customer_department_information 
		WHERE
			CustomerNo = #{customerNo}
    </select>
    <insert id="insertCustomerDepartment" parameterType="String">
		INSERT INTO customer_information 
		VALUE(
		#{customerNo},
		#{customerDepartmentCode},
		#{customerDepartmentName},
		#{position},
		#{responsiblePerson},
		#{mail},
		NOW(),
		NOW(),
		#{updateUser})
    </insert>
    <update id="updateCustomerDepartment" parameterType="String">
		UPDATE customer_information
		SET 
		<if test="customerDepartmentCode != null">
			customerDepartmentCode = #{customerDepartmentCode},
		</if>
		<if test="customerDepartmentName != null">
			customerDepartmentName = #{customerDepartmentName},
		</if>
		<if test="position != null">
			position = #{position},
		</if>
		<if test="responsiblePerson != null">
			responsiblePerson = #{responsiblePerson},
		</if>
		<if test="mail != null">
			mail = #{mail},
		</if>			
		updateTime = NOW(),
		updateUser = #{updateUser}
		WHERE 
			customerNo = #{customerNo}
    </update>
</mapper>