<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jp.co.lyc.cms.mapper.CustomerSalesListMapper">
	<resultMap id="detailsInfo"
		type="jp.co.lyc.cms.model.CustomerSalesListModel" />

	<select id="getCustomerSalesList" parameterType="map"
		resultMap="detailsInfo">
		<foreach item="getYandM" collection="getYandM" index="index">
			<if test="index != 0">
				union all
			</if>
		SELECT #{getYandM} as yearAndMonth,
		T007.customerName,
		T006.customerNo,
		T006.unitPrice,
		T018.DeductionsAndOvertimePay,
		T006.employeeNo,
		CONCAT(T001.employeeFristName,T001.employeeLastName)as employeeName,
		M012.siteRoleName,
		M013.stationName
		FROM T006EmployeeSiteInfo As T006
		left join T018WorkTotalTime As T018 on T018.employeeNo =T006.employeeNo
		and #{getYandM} =T018.attendanceYearAndMonth
		left join T007CustomerInfo As T007 on T006.customerNo =T007.customerNo
		left join T001Employee As T001 on T006.employeeNo=T001.employeeNo
		left join M012SiteRole As M012 on M012.siteRoleCode=T006.siteRoleCode
		left join M013Station as M013 on T006.stationCode =M013.stationCode
		WHERE #{getYandM} between left(admissionStartDate,6) and
		IFNULL(admissionEndDate,date_format(now(),'%Y%m'))
		</foreach>
	</select>
	
	<select id="getCustomerSalesListTwice" parameterType="map"
		resultMap="detailsInfo">
		<foreach item="tempList" collection="tempList" index="index">
			<if test="index != 0">
				union
			</if>
			select * from (select ${tempList.yearAndMonth} as
			yearAndMonth,T005.employeeNo,
			T005.totalAmount,
			T006.customerNo
			from
			T005WagesInfo As
			T005
			 left join T006EmployeeSiteInfo As T006 on T006.employeeNo =T005.employeeNo and #{tempList.yearAndMonth} between left(admissionStartDate,6) and IFNULL(admissionEndDate,date_format(now(),'%Y%m'))
			WHERE T005.employeeNo=
			#{tempList.empNo} 
			and T006.customerNo=#{tempList.customerNo} 
			and reflectYearAndMonth &lt;= #{tempList.yearAndMonth}
			ORDER BY
			ABS(#{tempList.yearAndMonth} - reflectYearAndMonth) ASC
			limit 1) As
			A${tempList.yearAndMonth}
		</foreach>
	</select>
	
		<select id="getCustomerSalesListThird" parameterType="map"
		resultMap="detailsInfo">
		<foreach item="tempList" collection="tempList" index="index">
			<if test="index != 0">
				union
			</if>
			select * from(select ${tempList.yearAndMonth} as
			yearAndMonth,
			T013.totalExpenses,
			T006.customerNo
			from T013ExpensesInfo As T013
			 left join T006EmployeeSiteInfo As T006 on T006.employeeNo =T013.employeeNo and #{tempList.yearAndMonth} between left(admissionStartDate,6) and IFNULL(admissionEndDate,date_format(now(),'%Y%m'))
			where T013.employeeNo =#{tempList.empNo}
			and expensesReflectYearAndMonth &lt;=
			#{tempList.yearAndMonth}
			ORDER BY ABS(#{tempList.yearAndMonth}-
			expensesReflectYearAndMonth) ASC
			limit 1 ) As B${tempList.yearAndMonth}
		</foreach>
	</select>

</mapper>