<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jp.co.lyc.cms.mapper.CustomerInfoSearchMapper">
    <resultMap id="customerInfo" type="jp.co.lyc.cms.model.CustomerInfoModel"/>
    <!-- お客様情報検索 -->
    <select id="SelectCustomerInfo" parameterType="String" resultMap="customerInfo">
		SELECT
			CONCAT(( @rowNo := @rowNo + 1 )) AS rowNo,
			T007.customerNo,
			T007.customerName,
			M008.levelName,
			T007.stationCode,
			M007.companyNatureName,
			<choose>
		        <when test="topCustomerName != null">
		            topNo.topCustomerName,
		        </when>
		        <otherwise>
		            T008.topCustomerName,
		        </otherwise>
	        </choose>
			T006.employeeNo,
			CONCAT( T001.employeeFristName ,T001.employeeLastName ) AS employeeName,
			T006.stationCode,
			T006.siteManager,
			T006.unitPrice 
		FROM
			T007CustomerInfo AS T007
			LEFT JOIN T006EmployeeSiteInfo AS T006 ON T007.customerNo = T006.customerNo 
			AND T007.topCustomerNo = T006.topCustomerNo
			AND T006.AdmissionStartDate IS NOT NULL
			AND T006.AdmissionEndDate IS NOT NULL
			LEFT JOIN T001Employee AS T001 ON T006.employeeNo = T001.employeeNo
			LEFT JOIN M008Level AS M008 ON T007.levelCode = M008.levelCode
			LEFT JOIN M007CompanyNature AS M007 ON T007.companyNatureCode = M007.companyNatureCode	
		<choose>
	        <when test="topCustomerName != null">
	            LEFT JOIN 
					( SELECT topCustomerNo,topCustomerName FROM T008TopCustomerInfo WHERE topCustomerName LIKE concat('%',#{topCustomerName},'%') ) AS topNo ON T007.topCustomerNo = topNo.topCustomerNo
	        </when>
	        <otherwise>
	            LEFT JOIN
				 	T008TopCustomerInfo AS T008 ON T007.topCustomerNo = T008.topCustomerNo
	        </otherwise>
        </choose>
			,( SELECT @rowNo := 0 ) AS rowNo 
		WHERE 1=1
		<if test="customerNo != null">
			AND T007.customerNo=#{customerNo}
		</if>
		<if test="customerName != null">
			AND T007.customerName like concat('%',#{customerName},'%')
		</if>
		<if test="levelCode != null">
			AND T007.levelCode=#{levelCode}
		</if>
		<if test="companyNatureCode != null">
			AND T007.companyNatureCode=#{companyNatureCode}
		</if>
		<if test="topCustomerName != null">
			AND T007.topCustomerNo = topNo.topCustomerNo
		</if>
		<if test="businessStartDate != null">
			AND T007.businessStartDate >= #{businessStartDate}
		</if>
		<if test="paymentsiteCode != null">
			AND T007.paymentsiteCode = #{paymentsiteCode}
		</if>
		 ORDER BY
			T007.customerNo
    </select>
    <!-- お客様情報削除 -->
    <delete id="deleteCustomerInfo" parameterType="String">
	    DELETE 
	    FROM 
	    	T007CustomerInfo 
	    WHERE 
	    	customerNo = #{customerNo};
    </delete>
       <!-- お客様の部門削除 -->
    <delete id="deleteCustomerDepartmentInfo" parameterType="String">
	    DELETE 
	    FROM 
	    	T009CustomerDepartmentInfo 
	    WHERE 
	    	customerNo = #{customerNo};
    </delete>
</mapper>