<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jp.co.lyc.cms.mapper.CustomerInfoSearchMapper">
    <resultMap id="customerInfo" type="jp.co.lyc.cms.model.CustomerInfoModel"/>
    <resultMap id="stringResult" type="String"/>
    <!-- お客様情報検索 -->
    <select id="SelectCustomerInfo" parameterType="String" resultMap="customerInfo">
		SELECT
			CONCAT(( @rowNo := @rowNo + 1 )) AS rowNo,
			T007.customerNo,
			T007.customerName,
			M008.levelName,
			T007.stationCode,
			M013.stationName,
			M007.companyNatureName,
			<choose>
		        <when test="topCustomerName != null">
		            topNo.topCustomerName,
		        </when>
		        <otherwise>
		            T008.topCustomerName,
		        </otherwise>
	        </choose>
			T006.employeeNo,
			CONCAT( T001.employeeFristName ,T001.employeeLastName ) AS employeeName,
			T006.stationCode AS siteLocationCode,
			M013SITE.stationName AS location,
			T006.siteManager,
			T006.unitPrice,
			T006.admissionStartDate,
			T006.admissionEndDate,
			T007.paymentsiteCode,
			T007.capitalStock,
			T007.purchasingManagers,
			M020.paymentSiteName
		FROM
			T007CustomerInfo AS T007
			LEFT JOIN T006EmployeeSiteInfo AS T006 ON T007.customerNo = T006.customerNo 
			LEFT JOIN T001Employee AS T001 ON T006.employeeNo = T001.employeeNo
			LEFT JOIN M013Station AS M013 ON T007.stationCode = M013.stationCode AND T007.stationCode != ""
			LEFT JOIN M013Station AS M013SITE ON T006.stationCode = M013SITE.stationCode AND T006.stationCode != ""
			LEFT JOIN M008Level AS M008 ON T007.levelCode = M008.levelCode AND T007.levelCode != ""
			LEFT JOIN M007CompanyNature AS M007 ON T007.companyNatureCode = M007.companyNatureCode	AND T007.companyNatureCode != ""
			LEFT JOIN M020PaymentSite AS M020 ON T007.paymentsiteCode = M020.paymentSiteCode AND T007.paymentsiteCode != ""
		<choose>
	        <when test="topCustomerName != null">
	            LEFT JOIN 
					( SELECT topCustomerNo,topCustomerName FROM T008TopCustomerInfo WHERE topCustomerName LIKE concat('%',#{topCustomerName},'%') ) AS topNo ON T007.topCustomerNo = topNo.topCustomerNo
	        </when>
	        <otherwise>
	            LEFT JOIN
				 	T008TopCustomerInfo AS T008 ON T007.topCustomerNo = T008.topCustomerNo
	        </otherwise>
        </choose>
			,( SELECT @rowNo := 0 ) AS rowNo 
		WHERE 1=1
		<if test="customerNo != null">
			AND T007.customerNo=#{customerNo}
		</if>
		<if test="customerName != null">
			AND T007.customerName like concat('%',#{customerName},'%')
		</if>
		<if test="levelCode != null">
			AND T007.levelCode= #{levelCode}
		</if>
		<if test="companyNatureCode != null">
			AND T007.companyNatureCode= #{companyNatureCode}
		</if>
		<if test="topCustomerNo != null">
			AND T007.topCustomerNo = #{topCustomerNo}
		</if>
		<if test="businessStartDate != null">
			AND T007.businessStartDate >= #{businessStartDate}
		</if>
		<if test="paymentsiteCode != null">
			AND T007.paymentsiteCode = #{paymentsiteCode}
		</if>
		<if test="stationCode != null">
			AND T007.stationCode = #{stationCode}
		</if>
		<if test="capitalStockFront != null">
			AND CAST(T007.capitalStock AS decimal) &gt;= #{capitalStockFront}
		</if>
		<if test="capitalStockBack != null">
			AND CAST(T007.capitalStock AS decimal) &lt;= #{capitalStockBack}
		</if>
		 ORDER BY
			T007.customerNo
    </select>
    <!-- お客様情報削除 -->
    <delete id="deleteCustomerInfo" parameterType="String">
	    DELETE 
	    FROM 
	    	T007CustomerInfo 
	    WHERE 
	    	customerNo = #{customerNo};
    </delete>
    <!-- お客様の部門削除 -->
    <delete id="deleteCustomerDepartmentInfo" parameterType="String">
	    DELETE 
	    FROM 
	    	T009CustomerDepartmentInfo 
	    WHERE 
	    	customerNo = #{customerNo};
    </delete>
    
    <!-- お客様情報検索 -->
    <select id="checkCustomerInSiteInfo" parameterType="String" resultMap="stringResult">
		SELECT
			customerNo 
		FROM
			T006EmployeeSiteInfo 
		WHERE
			customerNo = #{customerNo}
    </select>
    
    <!-- お客様の上位お客様番号検索 -->
    <select id="getTopCustomerNoInCustomerInfo" parameterType="String" resultMap="stringResult">
	SELECT
		topCustomerNo 
	FROM
		T007CustomerInfo 
	WHERE
		customerNo = #{customerNo}
    </select>
    
    <!-- お客様テーブルの上位お客様番号同じのお客様チェック -->
    <select id="getCustomerNoWithSameTop" parameterType="String" resultMap="stringResult">
	SELECT
		customerNo 
	FROM
		T007CustomerInfo 
	WHERE
		topCustomerNo = #{topCustomerNo}
    </select>
</mapper>