<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jp.co.lyc.cms.mapper.DutyManagementMapper">
	<resultMap id="DutyManagement"
		type="jp.co.lyc.cms.model.DutyManagementModel" />
	<select id="selectDutyManagement" resultMap="DutyManagement"
		parameterType="String">
		SELECT
		(@rowNo:=@rowNo + 1) AS rowNo,
		t001.employeeNo,
		concat_ws("
		",t001.employeeFristName,t001.employeeLastName) as employeeName,
		if(t007.customerAbbreviation is null or t007.customerAbbreviation = "",t007.customerName,t007.customerAbbreviation) as customerName,
		m013.stationName,
		concat_ws("-",t006.payOffRange1,t006.payOffRange2) as payOffRange,
		T018.sumWorkTime workTime,
		if(T018.DeductionsAndOvertimePay is null or T018.DeductionsAndOvertimePay = "",if(T018.sumWorkTime>t006.payOffRange2,t005.salary/t006.payOffRange2*(T018.sumWorkTime-t006.payOffRange2),if(t006.payOffRange1>T018.sumWorkTime,t005.salary/t006.payOffRange1*(T018.sumWorkTime-t006.payOffRange1),0)),T018.DeductionsAndOvertimePay)deductionsAndOvertimePay,
		if(T018.DeductionsAndOvertimePayOfUnitPrice is null or T018.DeductionsAndOvertimePayOfUnitPrice = "",if(T018.sumWorkTime>t006.payOffRange2,t006.unitPrice/t006.payOffRange2*(T018.sumWorkTime-t006.payOffRange2),if(t006.payOffRange1>T018.sumWorkTime,t006.unitPrice/t006.payOffRange1*(T018.sumWorkTime-t006.payOffRange1),0)),T018.DeductionsAndOvertimePayOfUnitPrice)deductionsAndOvertimePayOfUnitPrice,
		<!-- FORMAT(if(T018.sumWorkTime>t006.payOffRange2,t006.unitPrice/t006.payOffRange2*(T018.sumWorkTime-t006.payOffRange2),if(t006.payOffRange1>T018.sumWorkTime,t006.unitPrice/t006.payOffRange1*(T018.sumWorkTime-t006.payOffRange1),0)),0)deductionsAndOvertimePayOfUnitPrice, -->
		if(T016.employeeWorkTimeHaveData=1,'0',if(T018.attendanceRegisterFlag=1,'1','2'))checkSection,
		T018.updateTime,
		if(T018.approvalStatus=1,"1","0")approvalStatus
		FROM
		T001Employee as t001
		left join
		(SELECT
		employeeNo,max(reflectYearAndMonth),salary FROM T005WagesInfo where
		reflectYearAndMonth&lt;=#{yearAndMonth} group by
		T005WagesInfo.employeeNo)t005 on t001.employeeNo=t005.employeeNo
		inner
		join
		(SELECT
		T006.employeeNo,unitPrice,T006.admissionStartDate,payOffRange1,payOffRange2,customerNo,stationCode
		FROM T006EmployeeSiteInfo as T006
		inner join (
		SELECT
		employeeNo,max(admissionStartDate) as admissionStartDate FROM
		T006EmployeeSiteInfo
		where
		admissionStartDate &lt;= concat(#{yearAndMonth},"99")
		and (admissionEndDate is null or admissionEndDate &gt;= concat(#{yearAndMonth},"00"))
		and (systemName != "休暇" or systemName is null)
		and (typteOfContractCode != "4" or typteOfContractCode is null)
		group by employeeNo
		) as temp
		on T006.employeeNo = temp.employeeNo
		and
		T006.admissionStartDate = temp.admissionStartDate
		)t006
		on
		t001.employeeNo=t006.employeeNo
		left join
		T007CustomerInfo as t007 on
		t006.customerNo=t007.customerNo
		left join
		M013Station as m013 on
		t006.stationCode=m013.stationCode
		left join
		(SELECT
		employeeNo,updateTime,yearAndMonth,1 as employeeWorkTimeHaveData FROM
		T016EmployeeWorkTime group by employeeNo)T016 on
		t001.employeeNo=T016.employeeNo and T016.yearAndMonth=#{yearAndMonth}
		left join
		T018WorkTotalTime as T018 on t001.employeeNo=T018.employeeNo
		and
		T018.attendanceYearAndMonth=#{yearAndMonth}
		,(SELECT @rowNo:=0) AS
		rowNo
		WHERE
		(T018.attendanceYearAndMonth = #{yearAndMonth}
		or T018.attendanceYearAndMonth is null)
		and left(t001.employeeNo,2) != "BP"
		<if test="approvalStatus == 0">
		</if>
		<if test="approvalStatus == 1">
			and T018.approvalStatus!=1
		</if>
		<if test="approvalStatus == 2">
			and T018.approvalStatus=1
		</if>
		<if test="approvalStatus == 3">
			and T018.sumWorkTime>0
		</if>
		<if test="approvalStatus == 4">
			and T016.employeeWorkTimeHaveData=1
		</if>
		order by T018.attendanceYearAndMonth desc,t001.employeeNo
	</select>
	<update id="updateDutyManagement" parameterType="String">
		UPDATE
		T018WorkTotalTime
		SET
		<if test="approvalStatus == 2">
			approvalStatus = approvalStatus,
		</if>
		<if test="approvalStatus != 2">
			approvalStatus = #{approvalStatus},
		</if>
		deductionsAndOvertimePayOfUnitPrice=#{deductionsAndOvertimePayOfUnitPrice},
		deductionsAndOvertimePay=#{deductionsAndOvertimePay}
		WHERE
		employeeNo =
		#{employeeNo}
		and attendanceYearAndMonth = #{yearAndMonth}
	</update>
</mapper>