<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jp.co.lyc.cms.mapper.EmployeeMapper">
    <resultMap id="Employee" type="jp.co.lyc.cms.model.EmployeeModel"/>
    <!-- ログイン -->
    <select id="getEmployeeModel" parameterType="map" resultMap="Employee">
		SELECT
			a.employeeNo,
			a.employeeFristName,
			a.employeeLastName,
			a.authorityCode,
			b.authorityProperty
		FROM
			employee a
			LEFT JOIN M009Authority b ON a.authorityCode = b.authorityCode
			LEFT JOIN employee_detail c ON a.employeeNo = c.employeeNo
		WHERE
			a. PASSWORD = #{password}
		AND a.employeeNo = #{employeeNo}
    </select>
</mapper>