<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jp.co.lyc.cms.mapper.EnterPeriodSearchMapper">
	<resultMap id="EnterPeriodSearchModel"
		type="jp.co.lyc.cms.model.EnterPeriodSearchModel" />
	<resultMap id="stringResult" type="String" />
</mapper>