<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jp.co.lyc.cms.mapper.GetBankInfoMapper">
    <resultMap id="BankBranchInfo" type="map"/>
    <!-- 支店情報検索 -->
    <select id="getBankBranchInfo" resultMap="BankBranchInfo" parameterType="map">
        SELECT 
			M002.bankBranchName,
			M002.bankBranchCode
        FROM 
        	M002BankBranch AS M002
        LEFT JOIN
        	M001Bank AS M001
        ON  
        	M001.bankCode = M002.bankCode
        WHERE 
        	M002.bankCode = #{bankCode}
	        <if test="bankBranchCode != null">
				AND M002.bankBranchCode = #{bankBranchCode}
			</if>
			<if test="bankBranchName != null">
				AND M002.bankBranchName = #{bankBranchName}
			</if>
    </select>
    <!-- 口座情報インサート -->
    <insert id="insertAccount" parameterType="String">
		INSERT INTO T004AccountInfo 
		VALUE(
		#{employeeOrCustomerNo},
		#{accountBelongsStatus},
		#{bankCode},
		#{bankBranchCode},
		#{accountNo},
		#{accountName},
		#{accountTypeStatus},
		NOW(),
		NOW(),
		#{updateUser})
    </insert>
    <!-- 口座情報アップデート -->
    <update id="updateAccount" parameterType="String">
		UPDATE T004AccountInfo
		SET 
		<if test="bankCode != null">
			bankCode = #{bankCode},
		</if>
		<if test="bankBranchCode != null">
			bankBranchCode = #{bankBranchCode},
		</if>
		<if test="accountNo != null">
			accountNo = #{accountNo},
		</if>
		<if test="accountName != null">
			accountName = #{accountName},
		</if>	
			accountTypeStatus = #{accountTypeStatus},
			updateTime = NOW(),
			updateUser = #{updateUser}
		WHERE 
			employeeOrCustomerNo = #{employeeOrCustomerNo}
			AND accountBelongsStatus = #{accountBelongsStatus}
    </update>
</mapper>