<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jp.co.lyc.cms.mapper.GetEmployeeInfoMapper">
	<resultMap id="Employee"
		type="jp.co.lyc.cms.model.EmployeeModel" />
	<select id="getEmployeeInfo" parameterType="map"
		resultMap="Employee">
		select
		(@rowNo := @rowNo + 1) AS rowNo,
		em.employeeNo,
		em.employeeFristName,
		emd.Furigana,
		emd.alphabetOfName,
		emd.age,
		emd.joinCompanyOfYearandMonth,
		emsi.AdmissionStartDate,
		ei.salary,
		ci.customerName,
		emd.phoneNo,
		adi.nearestStationOne,
		TIMESTAMPDIFF(MONTH,now(),emd.PeriodOfStay)as visaTime
		from
		rams.employee as em
		left join
		rams.employee_detail as emd on
		emd.employeeNo=em.employeeNo
		left join
		rams.employee_site_information as emsi on em.employeeNo=emsi.employeeNo
		left join
		rams.address_information as adi on em.employeeNo= adi.employeeNo
		left join
		rams.expenses_information as ei on em.employeeNo=ei.employeeNo
		left join
		rams.customer_information as ci on emsi.customerNo=ci.customerNo

		,(SELECT @rowNo :=
		0) AS rowNo
		where 1=1
		<if test="employeeNo!=null">
			AND em.employeeNo=#{employeeNo}
		</if>
		<if test="employeeFristName!=null">
			AND em.employeeFristName like concat('%',#{employeeFristName},'%')
		</if>
		<if test="emploryeeForm!=null">
			AND emd.emploryeeFormCode=#{emploryeeForm}
		</if>
		<if test="genderCode!=null">
			AND emd.genderCode=#{genderCode}
		</if>
		<if test="joinCompanyOfYearandMonth!=null">
			AND emd.joinCompanyOfYearandMonth=#{joinCompanyOfYearandMonth}
		</if>
		<if test="ageFrom != null">
			AND emd.age &gt;= #{ageFrom}
		</if>
		<if test="ageTo != null">
			AND emd.age &lt;= #{ageTo}
		</if>
		<if test="statusOfResidence != null">
			AND emd.ResidenceOfCode=#{statusOfResidence}
		</if>
		<if test="birthplaceOfcontroy != null">
			AND emd.nationalityCode=#{birthplaceOfcontroy}
		</if>
		<if test="customer!= null">
			AND ci.customerName=#{customer}
		</if>
		<if test="intoCompanyCode!= null">
			AND emd.intoCompanyCode=#{intoCompanyCode}
		</if>
		<if test="japanease!= null">
			AND emd.japaneaseCode=#{japanease}
		</if>
		<if test="salaryFrom!= null">
			AND ei.salary &gt;= #{salaryFrom}
		</if>
		<if test="salaryTo!= null">
			AND ei.salary &lt;= #{salaryTo}
		</if>
		<if test="developmentLanguageNo1!= null">
			AND emd.developmentLanguageNo1=#{developmentLanguageNo1}
		</if>
		<if test="developmentLanguageNo2!= null">
			AND emd.developmentLanguageNo2=#{developmentLanguageNo2}
		</if>
		<if test="developmentLanguageNo3!= null">
			AND emd.developmentLanguageNo3=#{developmentLanguageNo3}
		</if>
		<if test="unitPriceFrom != null">
			AND emsi.unitPrice &gt;= #{unitPriceFrom}
		</if>
		<if test="unitPriceTo!= null">
			AND emsi.unitPrice &lt;= #{unitPriceTo}
		</if>
		<if test="kadou!=null">
			<if test="kadou='0'">
				AND emsi.AdmissionStartDate is not null AND emsi.AdmissionEndDate is
				null
			</if>
			<if test="kadou='1'">
				AND emsi.AdmissionStartDate is null AND emsi.AdmissionEndDate is not
				null
			</if>
		</if>
		ORDER BY
		em.employeeNo
		DESC

	</select>

</mapper>