<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jp.co.lyc.cms.mapper.GetEmployeeInfoMapper">
	<resultMap id="Employee"
		type="jp.co.lyc.cms.model.EmployeeModel" />
	<select id="getEmployeeInfo" parameterType="map"
		resultMap="Employee">
		SELECT
		(@rowNo:=@rowNo + 1) AS rowNo,
		em.employeeNo,
		CONCAT(em.employeeFristName,'  ',em.employeeLastName)as employeeFristName ,
		emd.Furigana,
		emd.alphabetName,
		emd.age,
		emd.intoCompanyYearAndMonth,
		emsi.AdmissionStartDate,
		ei.salary,
		ci.customerName,
		emd.phoneNo,
		adi.nearestStation1,
		TIMESTAMPDIFF(MONTH,
		NOW(),
		emd.PeriodOfStay) AS visaTime
		FROM
		T001Employee AS em
		LEFT JOIN
		T002EmployeeDetail AS emd ON emd.employeeNo = em.employeeNo
		LEFT JOIN
		T006EmployeeSiteInfo AS emsi ON em.employeeNo = emsi.employeeNo
		LEFT JOIN
		T003AddressInfo AS adi ON em.employeeNo = adi.employeeNo
		LEFT JOIN
		T005ExpensesInfo AS ei ON em.employeeNo = ei.employeeNo
		LEFT JOIN
		T007CustomerInfo AS ci ON emsi.customerNo = ci.customerNo,
		(SELECT @rowNo:=0) AS rowNo
		WHERE
		1 = 1
		<if test="employeeNo!=null">
			AND em.employeeNo=#{employeeNo}
		</if>
		<if test="employeeFristName!=null">
			AND em.employeeFristName like
			concat('%',#{employeeFristName},'%')
		</if>
		<if test="emploryeeForm!=null">
			AND emd.emploryeeFormCode=#{emploryeeForm}
		</if>
		<if test="employeeStatus!=null">
			AND emd.status=#{employeeStatus}
		</if>
		<if test="genderCode!=null">
			AND emd.genderCode=#{genderCode}
		</if>
		<if test="ageFrom != null">
			AND emd.age &gt;= #{ageFrom}
		</if>
		<if test="ageTo != null">
			AND emd.age &lt;= #{ageTo}
		</if>
		<if test="statusOfResidence != null">
			AND emd.ResidenceOfCode=#{statusOfResidence}
		</if>
		<if test="birthplaceOfcontroy != null">
			AND emd.nationalityCode=#{birthplaceOfcontroy}
		</if>
		<if test="customer!= null">
			AND ci.customerName=#{customer}
		</if>
		<if test="intoCompanyCode!= null">
			AND emd.intoCompanyCode=#{intoCompanyCode}
		</if>
		<if test="japanease!= null">
			AND emd.japaneaseCode=#{japanease}
		</if>
		<if test="salaryFrom!= null">
			AND ei.salary &gt;= #{salaryFrom}
		</if>
		<if test="salaryTo!= null">
			AND ei.salary &lt;= #{salaryTo}
		</if>
		<if test="developmentLanguageNo1!= null">
			AND emd.developmentLanguage1=#{developmentLanguageNo1}
		</if>
		<if test="developmentLanguageNo2!= null">
			AND emd.developmentLanguage2=#{developmentLanguageNo2}
		</if>
		<if test="developmentLanguageNo3!= null">
			AND emd.developmentLanguage3=#{developmentLanguageNo3}
		</if>
		<if test="joinCompanyOfYearFrom != null">
			AND emd.intoCompanyYearAndMonth &gt;=
			#{joinCompanyOfYearFrom}
		</if>
		<if test="joinCompanyOfYearTo!= null">
			AND emd.intoCompanyYearAndMonth &lt;=
			#{joinCompanyOfYearTo}
		</if>
		<if test="kadou!=null">
			<if test="kadou='0'">
				AND emsi.AdmissionStartDate is not null AND
				emsi.AdmissionEndDate is
				null
			</if>
			<if test="kadou='1'">
				AND emsi.AdmissionStartDate is null AND
				emsi.AdmissionEndDate is not
				null
			</if>
		</if>
		ORDER BY
		em.employeeNo
		DESC

	</select>

</mapper>