<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jp.co.lyc.cms.mapper.GetSelectInfoUtilMapper">
	<!-- 社員形式コード -->
	<select id="getStaffForms"
		resultType="jp.co.lyc.cms.model.ModelClass">
		SELECT emploryeeFormCode code,emploryeeFormName name FROM
		emploryee_form_master;
	</select>
	<!-- 在留資格 -->
	<select id="getVisa" resultType="jp.co.lyc.cms.model.ModelClass">
		SELECT visaCode code,visaName
		name FROM visa_master;
	</select>
	<!--国籍 -->
	<select id="getNationalitys"
		resultType="jp.co.lyc.cms.model.ModelClass">
		SELECT nationalityCode code,nationalityName name FROM
		nationality_master;
	</select>
	<!--お客様 -->
	<select id="getCustomer"
		resultType="jp.co.lyc.cms.model.ModelClass">
		SELECT customerRankingCode code,customerRankingName name
		FROM customer_ranking_master;
	</select>

	<!-- 開発言語 -->
	<select id="getTechnologyType" parameterType="map"
		resultType="jp.co.lyc.cms.model.ModelClass">
		SELECT technologytypeCode code,technologytypeName name FROM
		technology_type_Master where 1=1
		<if test="developmentLanguageNo1!= null">
			AND technologytypeName like
			concat('%',#{developmentLanguageNo1},'%');
		</if>
		<if test="developmentLanguageNo2!= null">
			AND technologytypeName like
			concat('%',#{developmentLanguageNo2},'%');
		</if>
		<if test="developmentLanguageNo3!= null">
			AND technologytypeName like
			concat('%',#{developmentLanguageNo3},'%');
		</if>
	</select>

	<!--日本語レベル -->
	<select id="getJapaneseLevel"
		resultType="jp.co.lyc.cms.model.ModelClass">
		SELECT japaneseLevelCode code,japaneseLevelName name FROM
		japanese_Level_master;
	</select>

	<!--入社区分 -->
	<select id="getIntoCompany"
		resultType="jp.co.lyc.cms.model.ModelClass">
		SELECT intoCompanyCode code,intoCompanyName name FROM
		into_company_master;
	</select>
	<!-- 役割 -->
	<select id="getSiteMaster"
		resultType="jp.co.lyc.cms.model.ModelClass">
		SELECT siteRoleCode code,siteRoleCodeName name FROM
		site_role_master;
	</select>
	<!-- 職種 -->
	<select id="getOccupation"
		resultType="jp.co.lyc.cms.model.ModelClass">
		SELECT occupationCode code,occupationName name FROM
		occupation_master;
	</select>
	<!-- 部署 -->
	<select id="getDepartment"
		resultType="jp.co.lyc.cms.model.ModelClass">
		SELECT DepartmentCode code,DepartmentName name FROM
		department_master;
	</select>
	<!-- 権限 -->
	<select id="getAuthority"
		resultType="jp.co.lyc.cms.model.ModelClass">
		SELECT authorityCode code,authorityProperty name FROM
		authority_master;
	</select>
	<!-- 英語 -->
	<select id="getEnglishLevel"
		resultType="jp.co.lyc.cms.model.ModelClass">
		SELECT englishLevelCode code,englishLevelName name FROM
		english_Level_master;
	</select>
	<!-- 資格 -->
	<select id="getQualification"
		resultType="jp.co.lyc.cms.model.ModelClass">
		SELECT qualificationCode code,qualificationName name FROM
		qualification_master;
	</select>

	<!-- 採番 -->
	<select id="getNO" resultType="String">

		 SELECT 
		    (CASE
		        WHEN
		            (CONVERT(SUBSTRING(a.employeeNo, 4) , SIGNED) + 1) &lt;10
		        THEN
		            CONCAT('LYC00',
		                    (CONVERT( SUBSTRING(a.employeeNo, 4) , SIGNED) + 1))
		        WHEN
		            (CONVERT( SUBSTRING(a.employeeNo, 4) , SIGNED) + 1 &gt;=10)
		                AND (CONVERT( SUBSTRING(a.employeeNo, 4) , SIGNED) + 1  &lt;100)
		        THEN
		            CONCAT('LYC0',
		                    (CONVERT( SUBSTRING(a.employeeNo, 4) , SIGNED) + 1))
		        ELSE CONCAT('LYC',
		                (CONVERT( SUBSTRING(a.employeeNo, 4) , SIGNED) + 1))
		    END) AS employeeNo
		FROM
		    employee a
		WHERE
		    employeeNo = (SELECT 
		            MAX(employeeNo)
		        FROM
		            employee); 
	</select>
	<!-- お客様ランキン -->
	<select id="selectCustomerRanking" resultType="jp.co.lyc.cms.model.ModelClass">
        SELECT 
			customerRankingCode code,
        	customerRankingName name
        FROM 
        	M008CustomerRanking 
	</select>
	<!-- 会社性質選択肢 -->
	<select id="selectCompanyNature" resultType="jp.co.lyc.cms.model.ModelClass">
	       SELECT 
			companyNatureCode code,
        	companyNatureName name
        FROM 
        	M007CompanyNature
	</select>
	<!-- 職位選択肢 -->
	<select id="selectPosition" resultType="jp.co.lyc.cms.model.ModelClass">
	       SELECT 
			positionCode code,
        	positionName name
        FROM 
        	M019Position
	</select>
	<!-- 上位お客様連想 -->
	<select id="selectTopCustomer" resultType="jp.co.lyc.cms.model.ModelClass">
        SELECT 
        	topCustomerName name，
        	topCustomerNo code
        FROM 
        	top_customer
        WHERE
        	topCustomerName LIKE concat('%',#{topCustpmerName},'%')
	</select>
	<!-- 部門名前連想 -->
	<select id="selectDepartmentMaster" resultType="jp.co.lyc.cms.model.ModelClass">
		SELECT
			customerDepartmentName name,
			customerDepartmentCode code
		FROM
			customer_department_master 
		WHERE
			customerDepartmentName LIKE concat('%',#{customerDepartmentName},'%')
	</select>
	<!-- 銀行名検索 -->
	<select id="selectBankInfo" resultType="jp.co.lyc.cms.model.ModelClass">
		SELECT 
			bankName name,
			bankCode code
		FROM 
			M001Bank
	</select>
	<!-- 支店情報検索 -->
	<select id="getBankBranchInfo" resultType="jp.co.lyc.cms.model.ModelClass" parameterType="map">
		SELECT 
			M002.bankBranchName name,
			M002.bankBranchCode code
        FROM 
        	M002BankBranch AS M002
        LEFT JOIN
        	M001Bank AS M001
        ON  
        	M001.bankCode = M002.bankCode
        WHERE 
        	M002.bankCode = #{bankCode}
	        <if test="bankBranchCode != null">
				AND M002.bankBranchCode = #{bankBranchCode}
			</if>
			<if test="bankBranchName != null">
				AND M002.bankBranchName = #{bankBranchName}
			</if>
	</select>
</mapper>