<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jp.co.lyc.cms.mapper.GetSiteInfoMapper">

	<insert id="siteInsert" parameterType="map">
		insert into
		T006EmployeeSiteInfo(employeeNo,customerNo,topCustomerNo,admissionStartDate,admissionEndDate,
		siteManager,systemName,developLanguageCode,stationCode,unitPrice,siteRoleCode,payOffRange1,payOffRange2,relatedEmployees,
		levelCode,remark,updateTime,createTime,updateUser)
		values(#{employeeNo},#{customerNo},#{topCustomerNo},#{admissionStartDate},#{admissionEndDate},
		#{siteManager},#{systemName},#{developLanguageCode},#{location},#{unitPrice},#{siteRoleCode},#{payOffRange1},
		#{payOffRange2},#{relatedEmployees},#{levelCode},#{remark},now(),now(),#{updateUser})
	</insert>

	<update id="siteUpdate" parameterType="map">
		update account_information
		set
		bankCode=#{bankCode},bankBranchCode=#{bankBranchCode},accountNo=#{accountNo},accountName=#{accountName},updateDate=now()
		where employeeNo=#{employeeNo}

	</update>

	<select id="getSiteInfo" parameterType="java.lang.String"
		resultType="jp.co.lyc.cms.model.SiteModel">
		SELECT
		a.systemName,
		a.unitPrice,
		a.admissionStartDate,
		a.admissionEndDate,
		b.siteRoleName,
		if(c.customerAbbreviation is
		null or
		trim(c.customerAbbreviation)='',c.customerName,c.customerAbbreviation)
		as customerName,
		if(d.topCustomerAbbreviation is
		null or
		trim(d.topCustomerAbbreviation)='',d.topCustomerName,d.topCustomerAbbreviation)
		as topCustomerName,
		e.developLanguageName,
		f.stationName
		FROM
		rams.T006EmployeeSiteInfo a
		LEFT JOIN
		rams.M012SiteRole b
		ON
		a.siteRoleCode = b.siteRoleCode
		LEFT JOIN
		rams.T007CustomerInfo c ON
		a.customerNo = c.customerNo
		LEFT JOIN
		rams.T008TopCustomerInfo d ON
		a.topCustomerNo = d.topCustomerNo
		LEFT JOIN
		rams.M011DevelopLanguage e ON
		a.developLanguageCode =
		e.developLanguageCode
		LEFT JOIN
		rams.M013Station f ON
		a.stationCode = f.stationCode
		WHERE
		1=1
		<if test="employeeNo!= null and employeeNo!= ''">
			AND a.employeeNo = #{employeeNo}
		</if>

	</select>


</mapper>