<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jp.co.lyc.cms.mapper.MasterUpdateMapper">
	<!-- データの存在チェック -->
	<select id="checkHave" parameterType="map"
		resultType="java.lang.String">
		SELECT * FROM ${master} WHERE ${columnName} = #{data}
	</select>

	<!-- 明細取得 -->
	<select id="getMasterInfo" parameterType="map"
		resultType="jp.co.lyc.cms.model.MasterModel">
		SELECT ${columnCode} codeNo,${columnName} data FROM ${master} order by ${columnName}
	</select>

	<!-- 銀行明細取得 -->
	<select id="getBankMasterInfo" parameterType="map"
		resultType="jp.co.lyc.cms.model.MasterModel">
		SELECT bankBranchCode,bankBranchName FROM M002BankBranch
		WHERE bankCode = ${bankCode};
	</select>

	<!-- Topお客様明細取得 -->
	<select id="getCustomerMasterInfo" parameterType="map"
		resultType="jp.co.lyc.cms.model.MasterModel">
		SELECT * FROM T008TopCustomerInfo;
	</select>

	<!-- 修正 -->
	<insert id="updateMaster" parameterType="map">
		UPDATE ${master} SET
		${columnName} = #{data},
		updateTime = NOW(),
		updateUser = #{updateUser}
		WHERE ${columnCode} = #{code}
	</insert>

	<!-- 修正 -->
	<insert id="updateBankMaster" parameterType="map">
		UPDATE
		M002BankBranch SET
		bankBranchCode = #{newBankBranchCode},
		bankBranchName = #{newBankBranchName},
		updateTime = NOW(),
		updateUser =
		#{updateUser}
		WHERE bankCode = #{bankCode}
		and bankBranchCode =
		#{bankBranchCode}
		and bankBranchName = #{bankBranchName};
	</insert>

	<!-- 修正 -->
	<insert id="updateCustomerMaster" parameterType="map">
		UPDATE
		T008TopCustomerInfo SET
		topCustomerName = #{topCustomerName},
		topCustomerAbbreviation = #{topCustomerAbbreviation},
		url = #{url},
		updateTime = NOW(),
		updateUser =
		#{updateUser}
		WHERE topCustomerNo =
		#{topCustomerNo};
	</insert>

	<!-- 削除 -->
	<delete id="deleteMaster" parameterType="String">
		DELETE FROM ${master}
		WHERE ${columnCode} = #{code};
	</delete>

	<!-- 削除 -->
	<delete id="deleteBankMaster" parameterType="String">
		DELETE FROM
		M002BankBranch
		WHERE bankCode = #{bankCode}
		and bankBranchCode =
		#{bankBranchCode}
		and bankBranchName = #{bankBranchName};
	</delete>

	<!-- 削除 -->
	<delete id="deleteCustomerMaster" parameterType="String">
		DELETE FROM
		T008TopCustomerInfo
		WHERE topCustomerNo = #{topCustomerNo};
	</delete>

	<update id="masterUpdateAfterDelete" parameterType="String">
		update
		${master}
		set
		${columnCode} = ${columnCode} - 1
		where ${columnCode} >
		#{code};
	</update>

	<!-- 会社データ取得 -->
	<select id="getCompanyDate" parameterType="map"
		resultType="jp.co.lyc.cms.model.CompanySystemSetModel">
		SELECT 
		companyName,
		companyLogo,
		backgroundColor,
		empNoHead,
		taxRate
		FROM T012Passwordreset
		Where passwordResetId = "systemSet";
	</select>

	 <!-- システム更新 -->
	<update id="updateSystem" parameterType="map">
		update
		T012Passwordreset
		set
		companyName = #{companyName},
		companyLogo = #{companyLogo},
		backgroundColor = #{backgroundColor},
		empNoHead = #{empNoHead},
		taxRate = #{taxRate}
		where passwordResetId = "systemSet";
	</update>
	
		 <!-- システム更新 -->
	<update id="updateEmployeeNoT001" parameterType="map">
		update
		T001Employee
		set
		employeeNo = #{newEmployeeNo}
		where employeeNo = #{employeeNo};
	</update>
	
			 <!-- システム更新 -->
	<update id="updateEmployeeNoT002" parameterType="map">
		update
		T002EmployeeDetail
		set
		employeeNo = #{newEmployeeNo}
		where employeeNo = #{employeeNo};
	</update>
</mapper>