<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jp.co.lyc.cms.mapper.PasswordResetMapper">
<resultMap id="passwordModel" type="jp.co.lyc.cms.model.PasswordResetModel"/>
<resultMap id="stringResult" type="String"/>
    <!-- 諸費用検索 -->
    <select id="selectPasswordResetInfo" parameterType="String" resultMap="passwordModel">
    SELECT
		idCreateTime,
		IdForEmployeeNo 
	FROM
		T012passwordrest 
	WHERE
		passwordResetId = #{passwordResetId}
    </select>
    
    <!-- パスワードリセットID失効する -->
    <delete id="delete">
    DELETE 
	FROM
		T012passwordrest 
	WHERE
		passwordResetId = #{passwordResetId}
    </delete>
    
    <!-- パスワードリセットメールの再発信 -->
    <delete id="deleteAll">
    DELETE 
	FROM
		T012passwordrest 
	WHERE
		IdForEmployeeNo = #{IdForEmployeeNo}
    </delete>
    
    <!-- パスワードリセット -->
    <update id="update" parameterType="String">
    UPDATE T001Employee 
	SET 
		password = MD5(#{password})
	WHERE
		employeeNo = #{employeeNo}
    </update>
</mapper>