<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jp.co.lyc.cms.mapper.PersonalSalesSearchMapper">
	<resultMap id="detailsInfo"
		type="jp.co.lyc.cms.model.PersonalSalesSearchModel" />

		
	<select id="getEmployeeSalesInfo" parameterType="map"
		resultMap="detailsInfo">
		SELECT distinct
		T005.reflectYearAndMonth,
		T006.admissionStartDate,
		M005.employeeFormName,
		T007.customerName,
		T006.unitPrice,
		T005.salary,
		T005.transportationExpenses,
		T005.SocialInsuranceFlag,
		T005.insuranceFeeAmount,
		T005.bonusFlag,
		T005.scheduleOfBonusAmount,
		T005.leaderAllowanceAmount,
		T005.otherAllowanceAmount
		FROM
		T001Employee As T001
		Left JOIN 
		T005ExpensesInfo As T005 ON T001.employeeNo = T005.employeeNo
		<if test = "fiscalYear != 0  &amp;&amp;fiscalYear != null &amp;&amp; startYearAndMonth != null &amp;&amp; endYearAndMonth != null">
		 AND left(reflectYearAndMonth,4) =#{fiscalYear}
		</if>
		<if test = "fiscalYear == 0 || fiscalYear == null &amp;&amp; startYearAndMonth != null &amp;&amp; endYearAndMonth != null">
		 AND reflectYearAndMonth between #{startYearAndMonth} and #{endYearAndMonth}
		</if>
		<if test = "fiscalYear != 0  &amp;&amp;fiscalYear != null &amp;&amp; startYearAndMonth == null &amp;&amp; endYearAndMonth == null">
		 AND left(reflectYearAndMonth,4) =#{fiscalYear}
		 </if>
		LEFT JOIN 
		M005EmployeeForm As M005 ON T005.employeeFormCode = M005.employeeFormCode
				<if test = "fiscalYear != 0  &amp;&amp;fiscalYear != null &amp;&amp; startYearAndMonth != null &amp;&amp; endYearAndMonth != null">
		AND	left(admissionStartDate,4) =#{fiscalYear}
		</if>
		<if test = "fiscalYear == 0 || fiscalYear == null &amp;&amp; startYearAndMonth != null &amp;&amp; endYearAndMonth != null">
		AND	left(admissionStartDate,6) between #{startYearAndMonth} and #{endYearAndMonth}
		</if>
		<if test = "fiscalYear != 0  &amp;&amp;fiscalYear != null &amp;&amp; startYearAndMonth == null &amp;&amp; endYearAndMonth == null">
		AND	left(admissionStartDate,4) =#{fiscalYear}
		</if>
		LEFT JOIN 
		T006EmployeeSiteInfo As T006 ON T005.employeeNo = T006.employeeNo	
		<if test = "fiscalYear != 0  &amp;&amp;fiscalYear != null &amp;&amp; startYearAndMonth != null &amp;&amp; endYearAndMonth != null">
		AND	left(admissionStartDate,4) =#{fiscalYear}
		</if>
		<if test = "fiscalYear == 0 || fiscalYear == null &amp;&amp; startYearAndMonth != null &amp;&amp; endYearAndMonth != null">
		AND	left(admissionStartDate,6) between #{startYearAndMonth} and #{endYearAndMonth}
		</if>
		<if test = "fiscalYear != 0  &amp;&amp;fiscalYear != null &amp;&amp; startYearAndMonth == null &amp;&amp; endYearAndMonth == null">
		AND	left(admissionStartDate,4) =#{fiscalYear}
		</if>
		LEFT JOIN 
		T007CustomerInfo As T007 ON T006.customerNo  =T007.customerNo
		WHERE
		T001.employeeFristName = #{employeeFirstName}
		AND 
		T001.employeeLastName = #{employeeLastName}
		<if test = "employeeNo != null">
		AND T005.employeeNo=#{employeeNo}
		</if>
		<if test = "fiscalYear != 0  &amp;&amp;fiscalYear != null &amp;&amp; startYearAndMonth != null &amp;&amp; endYearAndMonth != null">
		AND left(reflectYearAndMonth,4) =#{fiscalYear}
		</if>
		<if test = "fiscalYear == 0 || fiscalYear == null &amp;&amp; startYearAndMonth != null &amp;&amp; endYearAndMonth != null">
		AND reflectYearAndMonth between #{startYearAndMonth} and #{endYearAndMonth}
		</if>
		<if test = "fiscalYear != 0  &amp;&amp;fiscalYear != null &amp;&amp; startYearAndMonth == null &amp;&amp; endYearAndMonth == null">
		AND left(reflectYearAndMonth,4) =#{fiscalYear}
		</if>
		</select>
</mapper>