<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jp.co.lyc.cms.mapper.PersonalSalesSearchMapper">
	<resultMap id="detailsInfo"
		type="jp.co.lyc.cms.model.PersonalSalesSearchModel" />

		
	<select id="getEmployeeSalesInfo" parameterType="map"
		resultMap="detailsInfo">
		SELECT distinct
		T005.reflectYearAndMonth,
		T006.admissionStartDate,
		M005.employeeFormName,
		T007.customerName,
		T006.unitPrice,
		T005.salary,
		T013.transportationExpenses,
		T005.SocialInsuranceFlag,
		T005.insuranceFeeAmount,
		T005.bonusFlag,
		T005.scheduleOfBonusAmount,
		T013.leaderAllowanceAmount,
		T013.otherAllowanceAmount,
		(T006.unitPrice*10000 - T005.salary - T013.transportationExpenses - T005.insuranceFeeAmount - T005.scheduleOfBonusAmount - T013.leaderAllowanceAmount - T013.otherAllowanceAmount)
		As grosProfits,
		(T005.salary + T013.transportationExpenses + T005.insuranceFeeAmount + T005.scheduleOfBonusAmount + T013.leaderAllowanceAmount + T013.otherAllowanceAmount) As paymentTotal
		FROM
		T001Employee As T001
		Left JOIN 
		T005WagesInfo As T005 ON T001.employeeNo = T005.employeeNo
		AND reflectYearAndMonth &lt;= #{getYandM}
		LEFT JOIN 
		M005EmployeeForm As M005 ON T005.employeeFormCode = M005.employeeFormCode
		LEFT JOIN 
		T006EmployeeSiteInfo As T006 ON T005.employeeNo = T006.employeeNo	
		AND #{getYandM} between left(admissionStartDate,6) and left(admissionEndDate,6)
		LEFT JOIN 
		T007CustomerInfo As T007 ON T006.customerNo  =T007.customerNo
		LEFT JOIN
		T013ExpensesInfo As T013 ON T005.employeeNo = T013.employeeNo and T005.reflectYearAndMonth = T013.ExpensesreflectYearAndMonth
		WHERE
		CONCAT(T001.employeeFristName,T001.employeeLastName) = #{employeeName}
		<if test = "employeeNo != null">
		AND T005.employeeNo=#{employeeNo}
		</if>
		ORDER BY ABS(#{getYandM} - reflectYearAndMonth) ASC
		limit 1
		</select>
</mapper>