<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jp.co.lyc.cms.mapper.SalesPointSetMapper">

	<insert id="salesPointInsert" parameterType="map">
		insert into
		T006EmployeeSiteInfo(employeeNo,customerNo,topCustomerNo,admissionStartDate,admissionEndDate,
		siteManager,systemName,developLanguageCode,stationCode,unitPrice,siteRoleCode,payOffRange1,payOffRange2,relatedEmployees,
		levelCode,typeOfIndustryCode,remark,updateTime,createTime,updateUser)
		values(#{employeeNo},#{customerNo},#{topCustomerNo},#{admissionStartDate},#{admissionEndDate},
		#{siteManager},#{systemName},#{developLanguageCode},#{location},#{unitPrice},#{siteRoleCode},#{payOffRange1},
		#{payOffRange2},#{relatedEmployees},#{levelCode},#{typeOfIndustryCode},#{remark},now(),now(),#{updateUser})
	</insert>

	<update id="salesPointUpdate" parameterType="map">
		update
		T006EmployeeSiteInfo
		set
		employeeNo=#{employeeNo},customerNo=#{customerNo},topCustomerNo=#{topCustomerNo},admissionStartDate=#{admissionStartDate},
		admissionEndDate=#{admissionEndDate},siteManager=#{siteManager},systemName=#{systemName},
		developLanguageCode=#{developLanguageCode},stationCode=#{location},unitPrice=#{unitPrice},
		siteRoleCode=#{siteRoleCode},payOffRange1=#{payOffRange1},payOffRange2=#{payOffRange2},
		relatedEmployees=#{relatedEmployees},levelCode=#{levelCode},typeOfIndustryCode=#{typeOfIndustryCode},
		remark=#{remark},updateTime=now(),updateUser=#{updateUser}
		where
		employeeNo=#{employeeNo} AND admissionStartDate=#{workDate}

	</update>

	<select id="getSalesPointInfo"
		parameterType="map"
		resultType="jp.co.lyc.cms.model.SalesPointSetModel">
		SELECT id as no,employeeStatus as employee,intoCompanyCode as
		newMember,customerContractStatus as customerContract,
		levelCode as
		level,salesProgressCode as salesPuttern,specialPointConditionCode
		as
		specialPoint,salesPoint as point,remark FROM
		rams.T014SalesPointInfo
		WHERE
		1=1
		<if test="employee!= null and employee!= ''">
			AND employeeStatus = #{employee}
		</if>
		<if test="newMember!= null and newMember!= ''">
			AND intoCompanyCode = #{newMember}
		</if>
		<if test="customerContract!= null and customerContract!= ''">
			AND customerContractStatus = #{customerContract}
		</if>

	</select>
	<!--　　現場情報を削除 -->
	<delete id="deleteEmployeeSiteInfo" parameterType="String">
		DELETE
		FROM
		T006EmployeeSiteInfo
		WHERE
		employeeNo = #{employeeNo};
	</delete>

</mapper>