<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jp.co.lyc.cms.mapper.SalesProfitMapper">

	<!-- 売上情報検索 -->
	<select id="getSalesProfitInfo" parameterType="string"
		resultType="jp.co.lyc.cms.model.SalesProfitModel">
		SELECT
		T002EmployeeDetail.intoCompanyCode employeeStatus,
		concat(T001Employee.employeeFristName,T001Employee.employeeLastName)
		employeeName,
		T007CustomerInfo.customerAbbreviation customerName,
		T006EmployeeSiteInfo.admissionStartDate,
		T006EmployeeSiteInfo.admissionEndDate,
		T006EmployeeSiteInfo.unitPrice
		FROM T010SalesSituation
		INNER JOIN T001Employee
		ON
		T010SalesSituation.employeeNo = T001Employee.employeeNo
		LEFT JOIN
		T002EmployeeDetail
		ON T002EmployeeDetail.employeeNo =
		T010SalesSituation.employeeNo
		INNER JOIN T006EmployeeSiteInfo
		ON
		T010SalesSituation.employeeNo = T006EmployeeSiteInfo.employeeNo
		AND
		T010SalesSituation.salesYearAndMonth =
		SUBSTRING(T006EmployeeSiteInfo.admissionStartDate, 1, 6)
		AND
		T010SalesSituation.salesProgressCode = '4'
		INNER JOIN T007CustomerInfo
		ON T006EmployeeSiteInfo.customerNo = T007CustomerInfo.customerNo
		WHERE
		<if test="eigyou != null">
			T010SalesSituation.salesStaff = #{eigyou}
		</if>
		<if test="intoCompanyCode != null">
			AND T002EmployeeDetail.intoCompanyCode =
			#{intoCompanyCode}
		</if>
		AND NOT
		(T006EmployeeSiteInfo.admissionStartDate <![CDATA[ > ]]>
		#{endDate}
		OR T006EmployeeSiteInfo.admissionEndDate <![CDATA[ < ]]>
		#{startDate})
	</select>

	<!-- 売上情報検索 -->
	<select id="getSalesInfo" parameterType="string"
		resultType="jp.co.lyc.cms.model.SalesInfoModel">
		SELECT
		T006EmployeeSiteInfo.employeeNo,
		T001Employee.employeeFristName,
		T001Employee.employeeLastName,
		T002EmployeeDetail.employeeStatus,
		T006EmployeeSiteInfo.admissionStartDate,
		T006EmployeeSiteInfo.admissionEndDate,
		T006EmployeeSiteInfo.unitPrice,
		T007CustomerInfo.customerName,
		T007CustomerInfo.customerAbbreviation,
		T011BpInfoSupplement.bpBelongCustomerCode,
		T011BpInfoSupplement.bpUnitPrice,
		T010SalesSituation.salesStaff
		FROM
		T006EmployeeSiteInfo
		LEFT
		JOIN
		T002EmployeeDetail
		ON
		T006EmployeeSiteInfo.employeeNo=T002EmployeeDetail.employeeNo
		LEFT JOIN
		T001Employee
		ON
		T006EmployeeSiteInfo.employeeNo=T001Employee.employeeNo
		LEFT
		JOIN T007CustomerInfo
		ON
		T006EmployeeSiteInfo.customerNo=T007CustomerInfo.customerNo
		INNER JOIN
		<if test="eigyou !=  null">
			(SELECT T010.* FROM T010SalesSituation as T010
			inner join (
			SELECT employeeNo,salesYearAndMonth,salesStaff FROM
			T010SalesSituation
			where salesStaff = #{eigyou}) as temp
			on
			T010.employeeNo = temp.employeeNo
			and T010.salesYearAndMonth =
			temp.salesYearAndMonth
			and T010.salesStaff = temp.salesStaff)
			as
			T010SalesSituation
		</if>
		<if test="eigyou ==  null">
			T010SalesSituation
		</if>
		ON
		T006EmployeeSiteInfo.employeeNo=T010SalesSituation.employeeNo
		and
		(
		(T010SalesSituation.salesYearAndMonth =
		left(T006EmployeeSiteInfo.admissionStartDate,6)
		and T010SalesSituation.confirmCustomer = T006EmployeeSiteInfo.customerNo
		)
		OR
		(T010SalesSituation.salesYearAndMonth - 1 =
		left(T006EmployeeSiteInfo.admissionStartDate,6))
		and T010SalesSituation.confirmCustomer = T006EmployeeSiteInfo.customerNo
		)
		LEFT
		JOIN
		T011BpInfoSupplement
		ON
		T006EmployeeSiteInfo.employeeNo=T011BpInfoSupplement.bpEmployeeNo
		where
		T006EmployeeSiteInfo.admissionStartDate <![CDATA[ > ]]>
		#{startDate}
		AND
		(T006EmployeeSiteInfo.admissionStartDate  <![CDATA[ < ]]>
		#{endDate}
		OR
		(T006EmployeeSiteInfo.admissionStartDate <![CDATA[ < ]]>
		#{endDate}
		and T006EmployeeSiteInfo.admissionEndDate is null)
		)
		and
		employeeStatus =
		ifnull(#{intoCompanyCode},employeeStatus)
		ORDER BY
		T006EmployeeSiteInfo.admissionStartDate
	</select>

	<!-- 営業ポイント情報検索 -->
	<select id="getPointInfo" parameterType="string"
		resultType="jp.co.lyc.cms.model.SalesInfoModel">
		SELECT
		T010SalesSituation.employeeNo,M021SalesProgress.salesProgressName,T010SalesSituation.salesProgressCode,T010SalesSituation.customerContractStatus,T002EmployeeDetail.employeeStatus,T011BpInfoSupplement.bpBelongCustomerCode,T001Employee.employeeFristName,T001Employee.employeeLastName,T010SalesSituation.salesYearAndMonth
		yearAndMonth,T007CustomerInfo.customerName,T002EmployeeDetail.intoCompanyCode,M004IntoCompany.intoCompanyName,T010SalesSituation.salesStaff
		FROM T010SalesSituation
		<if test="eigyou !=  null">
			INNER JOIN (
			SELECT employeeNo,salesYearAndMonth,salesStaff
			FROM T010SalesSituation
			where salesStaff = #{eigyou}) as temp
			on
			T010SalesSituation.employeeNo = temp.employeeNo
			and
			T010SalesSituation.salesYearAndMonth = temp.salesYearAndMonth
			and
			T010SalesSituation.salesStaff = temp.salesStaff
		</if>
		LEFT JOIN T002EmployeeDetail
		ON
		T010SalesSituation.employeeNo=T002EmployeeDetail.employeeNo
		LEFT JOIN
		M021SalesProgress
		ON
		T010SalesSituation.salesProgressCode=M021SalesProgress.salesProgressCode
		LEFT JOIN
		M004IntoCompany
		ON
		T002EmployeeDetail.intoCompanyCode=M004IntoCompany.intoCompanyCode
		LEFT JOIN T011BpInfoSupplement
		ON
		T010SalesSituation.employeeNo=T011BpInfoSupplement.bpEmployeeNo
		LEFT
		JOIN T007CustomerInfo
		ON
		T010SalesSituation.interviewCustomer1=T007CustomerInfo.customerNo
		LEFT
		JOIN T001Employee
		ON
		T010SalesSituation.employeeNo =
		T001Employee.employeeNo
		Where
		salesYearAndMonth
		between
		ifnull(#{startDate},salesYearAndMonth) and
		ifnull(#{endDate},salesYearAndMonth)
		order by
		salesYearAndMonth,employeeNo
	</select>

	<select id="getCustomerName" parameterType="string"
		resultType="jp.co.lyc.cms.model.SalesEmployeeModel">
		SELECT customerNo,if(customerAbbreviation is null or
		customerAbbreviation = "",customerName,customerAbbreviation) as
		customerName FROM T007CustomerInfo;
	</select>

	<select id="getEmployeeNoSalary" parameterType="string"
		resultType="jp.co.lyc.cms.model.SalesInfoModel">
		SELECT employeeNo,reflectYearAndMonth,salary FROM
		T005WagesInfo order by employeeNo,reflectYearAndMonth;
	</select>

	<select id="getEmployeeName" parameterType="string"
		resultType="jp.co.lyc.cms.model.SalesInfoModel">
		SELECT employeeNo,employeeFristName,employeeLastName FROM
		T001Employee;
	</select>

	<select id="getEmployeeSiteInfo" parameterType="string"
		resultType="jp.co.lyc.cms.model.SalesEmployeeModel">
		SELECT
		T006EmployeeSiteInfo.employeeNo,substring(admissionStartDate,1,6)
		as
		startTime,substring(admissionEndDate,1,6) as
		endTime,T006EmployeeSiteInfo.customerNo,T007CustomerInfo.customerName,T007CustomerInfo.levelCode
		FROM T006EmployeeSiteInfo
		LEFT JOIN T007CustomerInfo
		ON
		T006EmployeeSiteInfo.customerNo=T007CustomerInfo.customerNo;
	</select>

	<select id="getSalesPointInfo" parameterType="string"
		resultType="jp.co.lyc.cms.model.SalesPointModel">
		SELECT * FROM T014SalesPointInfo;
	</select>
</mapper>