<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jp.co.lyc.cms.mapper.SiteSearchMapper">
	<select id="getSiteInfo" parameterType="map"
		resultType="jp.co.lyc.cms.model.SiteSearchModel">
		SELECT
		a.employeeNo,
		a.systemName,
		a.unitPrice,
		a.admissionStartDate,
		a.admissionEndDate,
		a.developLanguageCode,
		a.developLanguageCode2,
		b.siteRoleName,
		IF
		( c.customerAbbreviation IS NULL
		OR trim( c.customerAbbreviation ) =
		'', c.customerName,
		c.customerAbbreviation ) AS customerName,
		CONCAT( g.employeeFristName,
		g.employeeLastName ) AS employeeName,
		e.developLanguageName,
		f.stationName AS station,
		h.bpBelongCustomerCode,
		(
		SELECT
		IF
		(
		customerAbbreviation IS NULL OR trim( customerAbbreviation ) = '',
		customerName, customerAbbreviation )
		FROM
		T007CustomerInfo AS T007
		LEFT
		JOIN T011BpInfoSupplement AS T011 ON T007.customerNo =
		T011.bpBelongCustomerCode
		WHERE
		T011.bpEmployeeNo = a.employeeNo
		and T011.unitPriceStartMonth = ""
		) AS
		employeeFrom
		FROM
		T006EmployeeSiteInfo a
		LEFT JOIN M012SiteRole b ON
		a.siteRoleCode = b.siteRoleCode AND
		a.siteRoleCode != ''
		LEFT JOIN
		T007CustomerInfo c ON a.customerNo = c.customerNo AND
		a.customerNo !=
		''
		LEFT JOIN T002EmployeeDetail d ON a.employeeNo = d.employeeNo AND
		a.employeeNo != ''
		LEFT JOIN M011DevelopLanguage e ON
		a.developLanguageCode =
		e.developLanguageCode AND a.developLanguageCode
		!= ''
		LEFT JOIN M013Station f ON a.stationCode = f.stationCode AND
		a.stationCode
		!= ''
		LEFT JOIN T001Employee g ON a.employeeNo =
		g.employeeNo AND a.employeeNo
		!= ''
		LEFT JOIN T011BpInfoSupplement h ON
		a.employeeNo = h.bpEmployeeNo
		and h.unitPriceStartMonth = ""
		AND
		a.employeeNo != ''
		WHERE
		1 =1
		<if test="employeeNo!= null and employeeNo!= ''">
			AND a.employeeNo = #{employeeNo}
		</if>
		<if test="stationCode!= null and stationCode!= ''">
			AND a.stationCode = #{stationCode}
		</if>
		<if test="siteRoleCode!= null and siteRoleCode!= ''">
			AND a.siteRoleCode = #{siteRoleCode}
		</if>
		<if test="customerNo!= null and customerNo!= ''">
			AND a.customerNo = #{customerNo}
		</if>
		<if test="topCustomerNo!= null and topCustomerNo!= ''">
			AND a.topCustomerNo = #{topCustomerNo}
		</if>
		<if test="bpCustomerNo!= null and bpCustomerNo!= ''">
			AND h.bpBelongCustomerCode = #{bpCustomerNo}
		</if>
		<if test="typeOfIndustryCode!= null and typeOfIndustryCode!= ''">
			AND a.typeOfIndustryCode = #{typeOfIndustryCode}
		</if>
		<if test="payOffRange1!= null and payOffRange1!= ''">
			<if test="payOffRange1 =='0'.toString()">
				AND a.payOffRange1 = #{payOffRange1}
			</if>
			<if test="payOffRange1 !='0'">
				AND a.payOffRange1 = #{payOffRange1}
			</if>
		</if>
		<if test="payOffRange2!= null and payOffRange2!= ''">
			<if test="payOffRange2 =='0'.toString()">
				AND a.payOffRange2 = #{payOffRange2}
			</if>
			<if test="payOffRange2 !='0'">
				AND a.payOffRange2 = #{payOffRange2}
			</if>
		</if>
		<if test="unitPrice1!= null and unitPrice1!= ''">
			AND cast(a.unitPrice as signed) &gt;= cast(#{unitPrice1}
			as signed)
		</if>
		<if test="unitPrice2!= null and unitPrice2!= ''">
			AND cast(a.unitPrice as signed) &lt;= cast(#{unitPrice2}
			as signed)
		</if>
		<if test="developLanguageCode!= null and developLanguageCode!= ''">
			AND a.developLanguageCode = #{developLanguageCode}
			or  a.developLanguageCode2 = #{developLanguageCode}
		</if>
		<if
			test="admissionStartDate!= null and admissionStartDate!= ''
			and dataAcquisitionPeriod== null or dataAcquisitionPeriod== ''">
			AND a.admissionStartDate &gt;= #{admissionStartDate}
		</if>
		<if test="admissionEndDate!= null and admissionEndDate!= ''">
			AND a.admissionEndDate &lt;= #{admissionEndDate}
		</if>
		<if
			test="dataAcquisitionPeriod!= null and dataAcquisitionPeriod!= ''">
			AND a.admissionEndDate IS NULL
		</if>
		<if test="employeeStatus!= null and employeeStatus!= ''">
			AND d.employeeStatus = #{employeeStatus}
		</if>
		<if test="employeeForm!= null and employeeForm!= ''">
			<if test='employeeForm=="0"'>
				AND d.employeeFormCode !='3'
			</if>
			<if test='employeeForm=="1"'>
				AND d.employeeFormCode = '3'
			</if>
		</if>
		<if test="scheduledEndDate != null and scheduledEndDate!= ''">
			AND (a.scheduledEndDate &lt;= #{scheduledEndDate}
			OR LEFT(a.admissionEndDate,6) &lt;= #{scheduledEndDate})
		</if>
		<if test="typteOfContractCode!= null and typteOfContractCode!= ''">
			AND a.typteOfContractCode = #{typteOfContractCode}
		</if>
		ORDER BY
		a.employeeNo,
		a.admissionStartDate ASC
	</select>

</mapper>