<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jp.co.lyc.cms.mapper.SiteInfoMapper">

	<insert id="siteInsert" parameterType="map">
		insert into
		T006EmployeeSiteInfo(employeeNo,customerNo,topCustomerNo,admissionStartDate,admissionEndDate,
		siteManager,systemName,developLanguageCode,stationCode,unitPrice,siteRoleCode,payOffRange1,payOffRange2,relatedEmployees,
		levelCode,typeOfIndustryCode,nonSitePeriod,nonSiteMonths,dailyCalculationStatus,workState,scheduledEndDate,remark,updateTime,createTime,updateUser)
		values(#{employeeNo},#{customerNo},#{topCustomerNo},#{admissionStartDate},#{admissionEndDate},
		#{siteManager},#{systemName},#{developLanguageCode},#{location},#{unitPrice},#{siteRoleCode},#{payOffRange1},
		#{payOffRange2},#{relatedEmployees},#{levelCode},#{typeOfIndustryCode},#{nonSitePeriod},#{nonSiteMonths},#{dailyCalculationStatus},
		#{workState},#{scheduledEndDate},#{remark},now(),now(),#{updateUser})
	</insert>

	<update id="siteUpdate" parameterType="map">
		update
		T006EmployeeSiteInfo
		set
		employeeNo=#{employeeNo},customerNo=#{customerNo},topCustomerNo=#{topCustomerNo},admissionStartDate=#{admissionStartDate},
		admissionEndDate=#{admissionEndDate},siteManager=#{siteManager},systemName=#{systemName},
		developLanguageCode=#{developLanguageCode},stationCode=#{location},unitPrice=#{unitPrice},
		siteRoleCode=#{siteRoleCode},payOffRange1=#{payOffRange1},payOffRange2=#{payOffRange2},
		relatedEmployees=#{relatedEmployees},levelCode=#{levelCode},typeOfIndustryCode=#{typeOfIndustryCode},
		nonSitePeriod=#{nonSitePeriod},nonSiteMonths=#{nonSiteMonths},dailyCalculationStatus=#{dailyCalculationStatus},
		workState=#{workState},scheduledEndDate=#{scheduledEndDate},remark=#{remark},updateTime=now(),updateUser=#{updateUser}
		where employeeNo=#{employeeNo} AND admissionStartDate=#{workDate}
	</update>

	<select id="getSiteInfo" parameterType="java.lang.String"
		resultType="jp.co.lyc.cms.model.SiteModel">
		SELECT
		a.systemName,
		a.unitPrice,
		a.admissionStartDate,
		a.admissionEndDate,
		a.siteManager,
		a.payOffRange1,
		a.payOffRange2,
		a.relatedEmployees,
		a.dailyCalculationStatus,
		a.workState,
		a.remark,
		a.levelCode,
		a.siteRoleCode,
		a.stationCode,
		a.customerNo,
		a.topCustomerNo,
		a.developLanguageCode,
		a.typeOfIndustryCode,
		a.scheduledEndDate,
		b.siteRoleName,
		if(c.customerAbbreviation
		is
		null or
		trim(c.customerAbbreviation)='',c.customerName,c.customerAbbreviation)
		as customerName,
		if(d.topCustomerAbbreviation is
		null or
		trim(d.topCustomerAbbreviation)='',d.topCustomerName,d.topCustomerAbbreviation)
		as topCustomerName,
		e.developLanguageName,
		f.stationName as location,
		h.levelName,
		i.typeOfIndustryName
		FROM
		T006EmployeeSiteInfo a
		LEFT
		JOIN
		M012SiteRole b
		ON
		a.siteRoleCode = b.siteRoleCode
		LEFT JOIN
		T007CustomerInfo c ON
		a.customerNo = c.customerNo
		LEFT JOIN
		T008TopCustomerInfo d ON
		a.topCustomerNo = d.topCustomerNo
		LEFT
		JOIN
		M011DevelopLanguage e
		ON
		a.developLanguageCode =
		e.developLanguageCode
		LEFT JOIN
		M013Station f ON
		a.stationCode =
		f.stationCode
		LEFT JOIN
		M008Level h ON
		a.levelCode =
		h.levelCode
		LEFT
		JOIN
		M022TypeOfIndustry i ON
		a.typeOfIndustryCode =
		i.typeOfIndustryCode
		WHERE
		1=1
		<if test="employeeNo!= null and employeeNo!= ''">
			AND a.employeeNo = #{employeeNo}
		</if>

	</select>
	<!--　　現場情報を削除 社員画面から -->
	<delete id="deleteEmployeeSiteInfo" parameterType="String">
		DELETE
		FROM
		T006EmployeeSiteInfo
		WHERE
		employeeNo = #{employeeNo};
	</delete>

	<!--現場情報を削除 現場情報画面から -->
	<delete id="deleteSiteInfo" parameterType="String">
		DELETE
		FROM
		T006EmployeeSiteInfo
		WHERE
		employeeNo = #{employeeNo}
		and
		admissionStartDate = #{admissionStartDate};
	</delete>
</mapper>