<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jp.co.lyc.cms.mapper.technologyTypeMasterMapper">
	<!-- 言語番号の採番 -->
	<select id="getTechnologyCodeSaiban" resultType="java.lang.String">
	SELECT MAX(technologytypeCode) as technologytypeCodeSaiban FROM
		technology_type_Master
	</select>
	<!-- 言語の存在チェック -->
	<select id="checkHave" parameterType="String" resultType="java.lang.String">
	SELECT * FROM
		technology_type_Master
	WHERE	
		technologytypeName = #{technologytypeName}
	</select>
	<!-- 言語のインサート -->
	<insert id="insertTechnologyTypeMaster" parameterType="String">
	INSERT INTO technology_type_Master
	VALUE(
	#{technologytypeCode},
	#{technologytypeName},
	NOW(),
	NOW(),
	#{updateUser}
	)
	</insert>
</mapper>