<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jp.co.lyc.cms.mapper.UtilsMapper">
	<!-- 社員形式コード -->
	<select id="getStaffForms"
		resultType="jp.co.lyc.cms.model.ModelClass">
		SELECT employeeFormCode code,employeeFormName name FROM
		M005EmployeeForm;
	</select>
	
	<!-- 在留資格 -->
	<select id="getVisa" resultType="jp.co.lyc.cms.model.ModelClass">
		SELECT visaCode code,visaName
		name FROM M006Visa;
	</select>
	
	<!--国籍 -->
	<select id="getNationalitys"
		resultType="jp.co.lyc.cms.model.ModelClass">
		SELECT nationalityCode code,nationalityName name FROM
		M003Nationality;
	</select>
	
	<!--お客様 -->
	<select id="getCustomer"
		resultType="jp.co.lyc.cms.model.ModelClass">
		SELECT customerNo code,if(customerAbbreviation is
		null or
		trim(customerAbbreviation)='',customerName,customerAbbreviation) name
		FROM
		rams.T007CustomerInfo;
	</select>

	<!--駅 -->
	<select id="getStation"
		resultType="jp.co.lyc.cms.model.ModelClass">
		SELECT stationCode code,stationName name FROM
		rams.M013Station;
	</select>
	
	<!--トップお客様 -->
	<select id="getTopCustomer"
		resultType="jp.co.lyc.cms.model.ModelClass">
		SELECT topCustomerNo code,if(topCustomerAbbreviation is
		null or
		trim(topCustomerAbbreviation)='',topCustomerName,topCustomerAbbreviation)
		name
		FROM
		rams.T008TopCustomerInfo;
	</select>

	<!--開発言語 -->
	<select id="getDevelopLanguage"
		resultType="jp.co.lyc.cms.model.ModelClass">
		SELECT developLanguageCode code,developLanguageName name
		FROM
		rams.M011DevelopLanguage;
	</select>

	<!--日本語レベル -->
	<select id="getJapaneseLevel"
		resultType="jp.co.lyc.cms.model.ModelClass">
		SELECT japaneseLevelCode code,japaneseLevelName name FROM
		M010JapaneseLevel;
	</select>

	<!--入社区分 -->
	<select id="getIntoCompany"
		resultType="jp.co.lyc.cms.model.ModelClass">
		SELECT intoCompanyCode code,intoCompanyName name FROM
		M004IntoCompany;
	</select>
	
	<!-- 役割 -->
	<select id="getSiteMaster"
		resultType="jp.co.lyc.cms.model.ModelClass">
		SELECT siteRoleCode code,siteRoleName name FROM
		M012SiteRole;
	</select>
	
	<!-- 職種 -->
	<select id="getOccupation"
		resultType="jp.co.lyc.cms.model.ModelClass">
		SELECT occupationCode code,occupationName name FROM
		M014Occupation;
	</select>
	
	<!-- 部署 -->
	<select id="getDepartment"
		resultType="jp.co.lyc.cms.model.ModelClass">
		SELECT DepartmentCode code,DepartmentName name FROM
		M017Department;
	</select>
	
	<!-- 権限 -->
	<select id="getAuthority"
		resultType="jp.co.lyc.cms.model.ModelClass">
		SELECT authorityCode code,authorityName name FROM
		M009Authority;
	</select>
	
	<!-- 英語 -->
	<select id="getEnglishLevel"
		resultType="jp.co.lyc.cms.model.ModelClass">
		SELECT englishLevelCode code,englishLevelName name FROM
		M015EnglishLevel;
	</select>
	
	<!-- 資格 -->
	<select id="getQualification"
		resultType="jp.co.lyc.cms.model.ModelClass">
		SELECT qualificationCode code,qualificationName name FROM
		M016Qualification;
	</select>

	<!-- レベル -->
	<select id="getLevel"
		resultType="jp.co.lyc.cms.model.ModelClass">
		SELECT
		levelCode code,
		levelName name
		FROM
		M008Level
	</select>

	<!-- 会社性質選択肢 -->
	<select id="getCompanyNature"
		resultType="jp.co.lyc.cms.model.ModelClass">
		SELECT
		companyNatureCode code,
		companyNatureName name
		FROM
		M007CompanyNature
	</select>
	
	<!-- 職位選択肢 -->
	<select id="getPosition"
		resultType="jp.co.lyc.cms.model.ModelClass">
		SELECT
		positionCode code,
		positionName name
		FROM
		M019Position
	</select>
	<!-- 上位お客様連想 -->
	<select id="getTopCustomerDrop"
		resultType="jp.co.lyc.cms.model.ModelClass">
		SELECT
		topCustomerName label,
		topCustomerNo value
		FROM
		T008TopCustomerInfo
	</select>

	<!-- 部門名前連想 -->
	<select id="getDepartmentMasterDrop"
		resultType="jp.co.lyc.cms.model.ModelClass">
		SELECT
		customerDepartmentCode code,
		customerDepartmentName name
		FROM
		M018CustomerDepartment
	</select>
	
	<!-- 銀行名検索 -->
	<select id="getBankInfo"
		resultType="jp.co.lyc.cms.model.ModelClass">
		SELECT
		bankName name,
		bankCode code
		FROM
		M001Bank
	</select>
	
	<!-- 支店情報検索 -->
	<select id="getBankBranchInfo"
		resultType="jp.co.lyc.cms.model.ModelClass" parameterType="map">
		SELECT
		M002.bankBranchName name,
		M002.bankBranchCode code
		FROM
		M002BankBranch AS M002
		LEFT JOIN
		M001Bank AS M001
		ON
		M001.bankCode =
		M002.bankCode
		WHERE
		M002.bankCode = #{bankCode}
		<if test="bankBranchCode != null">
			AND M002.bankBranchCode = #{bankBranchCode}
		</if>
		<if test="bankBranchName != null">
			AND M002.bankBranchName = #{bankBranchName}
		</if>
	</select>

	<!--採番 -->
	<select id="getNO" resultType="String" parameterType="map"
		statementType="STATEMENT">
		SELECT
		(CASE WHEN (CONVERT(SUBSTRING(a.${columnName},
		4),SIGNED) + 1) &lt;10
		THEN
		CONCAT(CONCAT('${typeName}','00'),(CONVERT(SUBSTRING(a.${columnName},4)
		, SIGNED) + 1))
		WHEN
		(CONVERT(SUBSTRING(a.${columnName}, 4) , SIGNED)+ 1
		&gt;=10) AND (CONVERT(SUBSTRING(a.${columnName}, 4)
		, SIGNED) +
		1&lt;100)THEN
		CONCAT(CONCAT('${typeName}','0'),(CONVERT(SUBSTRING(a.${columnName},4)
		, SIGNED) + 1))
		ELSE
		CONCAT('${typeName}',(CONVERT(
		SUBSTRING(a.${columnName}, 4) , SIGNED)
		+ 1)) END) no
		FROM
		${table} a
		WHERE
		${columnName} = (SELECT
		MAX(${columnName}) FROM ${table}) LIMIT 1
		OFFSET 0;
	</select>
	
	<!-- 支払サイト選択肢 -->
	<select id="getPaymentsite"
		resultType="jp.co.lyc.cms.model.ModelClass">
		SELECT
		PaymentSiteCode CODE,
		PaymentSiteName NAME
		FROM
		M020PaymentSite
	</select>
	
	<!-- パスワードの取得 -->
	<select id="getPassword" resultType="String">
		SELECT
		password
		FROM
		T001Employee
		WHERE
		employeeNo = #{employeeNo}
	</select>
	
	<!-- パスワードリセット -->
	<update id="resetPassword" parameterType="String">
		UPDATE T001Employee
		SET
		`password` = MD5(#{password}),
		updateTime = NOW()
		WHERE
		employeeNo =
		#{employeeNo}
	</update>
	<!--営業担当 -->
	<select id="getSalesPerson"
		resultType="jp.co.lyc.cms.model.ModelClass">
	SELECT 
	    employeeNo code,
	    CONCAT(employeeFristName, employeeLastName) name
	FROM
	    T001Employee
	WHERE
    	authorityCode = 1;
	</select>
		<!-- 営業状況取得 -->
	<select id="getSalesProgress"
		resultType="jp.co.lyc.cms.model.ModelClass">
		SELECT
		salesProgressName name,
		salesProgressCode code
		FROM
		M021SalesProgress
	</select>
</mapper>