<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jp.co.lyc.cms.mapper.WorkTimeMapper">
    <resultMap id="WorkTime" type="jp.co.lyc.cms.model.WorkTimeModel"/>
    <select id="selectWorkTime" resultMap="WorkTime" parameterType="String">
		SELECT
			T018.attendanceYearAndMonth,
			T006.systemName,
			T006.stationCode as stationName,
			concat(ifnull(T006.payOffRange1,"")," - ",ifnull(T006.payOffRange2,"")) payOffRange,
			T018.attendanceDays,
			T018.sumWorkTime,
			T0.workTimeRank,
			T1.averageSumWorkTime,
			T2.carCost,
			T3.otherCost
		FROM
			T018WorkTotalTime T018
		LEFT JOIN
			(select row_number()over(partition by attendanceYearAndMonth order by sumWorkTime desc) as workTimeRank,
			sumWorkTime,employeeNo,attendanceYearAndMonth from T018WorkTotalTime)T0
			ON T018.attendanceYearAndMonth=T0.attendanceYearAndMonth AND T018.employeeNo=T0.employeeNo
		LEFT JOIN
			(select round(avg(sumWorkTime)) as averageSumWorkTime,attendanceYearAndMonth from T018WorkTotalTime group by attendanceYearAndMonth)T1
			ON T018.attendanceYearAndMonth=T1.attendanceYearAndMonth
		LEFT JOIN
			(SELECT sum(cost) as carCost,left(happendDate,6) as happendDate FROM T020CostInfo where employeeNo=#{employeeNo} and costClassificationCode=0 group by left(happendDate,6))T2
			ON T018.attendanceYearAndMonth = T2.happendDate
		LEFT JOIN
			(SELECT sum(cost) as otherCost,left(happendDate,6) as happendDate FROM T020CostInfo where employeeNo=#{employeeNo} and costClassificationCode!=0 group by left(happendDate,6))T3
			ON T018.attendanceYearAndMonth = T3.happendDate
		LEFT JOIN
			T006EmployeeSiteInfo T006
			 ON T018.attendanceYearAndMonth>=left(T006.admissionStartDate,6)
			 AND  
			(T018.attendanceYearAndMonth&lt;= left(T006.admissionEndDate,6)
			OR T006.admissionEndDate is null) 
			 AND T018.employeeNo=T006.employeeNo
		WHERE
			T018.attendanceYearAndMonth >= #{yearAndMonth1} AND
			T018.attendanceYearAndMonth &lt;= #{yearAndMonth2} AND
			T018.employeeNo= #{employeeNo}
		ORDER BY
			T018.attendanceYearAndMonth
    </select>
</mapper>