<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jp.co.lyc.cms.mapper.WorkTimeMapper">
    <resultMap id="WorkTime" type="jp.co.lyc.cms.model.WorkTimeModel"/>
    <select id="selectWorkTime" resultMap="WorkTime" parameterType="String">
		SELECT
			(@rowNo:=@rowNo + 1) AS rowNo,
			T018.attendanceYearAndMonth,
			T006.systemName,
			T006.stationName,
			concat(T006.payOffRange1,T006.payOffRange1) payOffRange,
			T018.attendanceDays,
			T018.sumWorkTime,
			t1.averageSumWorkTime,
			t0.workTimeRank,
			T2.carCost,
			T3.otherCost
		FROM
			T018WorkTotalTime t018
		LEFT JOIN
			(select row_number()over(partition by attendanceYearAndMonth order by sumWorkTime desc) as workTimeRank,
			sumWorkTime,employeeNo,attendanceYearAndMonth from rams.T018WorkTotalTime)t0
			ON t018.attendanceYearAndMonth=t0.attendanceYearAndMonth
		LEFT JOIN
			(select round(avg(sumWorkTime)) as averageSumWorkTime,attendanceYearAndMonth from rams.T018WorkTotalTime group by attendanceYearAndMonth)t1
			ON t018.attendanceYearAndMonth=t1.attendanceYearAndMonth
		LEFT JOIN
			(SELECT sum(cost) as carCost,left(happendDate,6) as happendDate FROM T020CostInfo where employeeNo=#{employeeNo} and costClassificationCode=0 group by left(happendDate,6))t2
			ON T006.attendanceYearAndMonth = T2.happendDate
		LEFT JOIN
			(SELECT sum(cost) as otherCost,left(happendDate,6) as happendDate FROM T020CostInfo where employeeNo=#{employeeNo} and costClassificationCode!=0 group by left(happendDate,6))t3
			ON T006.attendanceYearAndMonth = T3.happendDate
		LEFT JOIN
			(SELECT   @rowNo:=0) AS rowNo
		WHERE
			T018.attendanceYearAndMonth >= #{yearAndMonth1} AND
			T018.attendanceYearAndMonth &lt;= #{yearAndMonth2} AND
			T018.employeeNo= #{employeeNo}
		ORDER BY
			T018.attendanceYearAndMonth
    </select>
</mapper>